<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <div class="content">
            <div class="flex">
                {# <span class="topper">Get Our Services</span> #}
                <h2 class="title">Let’s Get You Back On The Road Faster. Schedule Now!</h2>
            </div>
            <div class="button-box">
                <a href="" class="button-solid">Schedule Our Services</a>
                <a href="" class="button-transparent">Contact Us</a>
            </div>
        </div>
    </div>
    <picture class="background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/cta-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>