<section class="service-cta">
  <div
    class="bg-img"
    data-background="/assets/images/bg-img/service-cta.jpg"
  ></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="service-cta-wrap">
      <div class="section-heading mb-0">
        <h4
          class="sub-heading after-none"
          data-text-animation="fade-in"
          data-duration="1.5"
        >
          Make an Appointment
        </h4>
        <h2
          class="section-title"
          data-text-animation
          data-split="word"
          data-duration="1"
        >
          Have Any Projects On Minds! <br/>Contact Us
        </h2>
      </div>
      <a href="/contact" class="rr-primary-btn cta-btn"
        >Make Appointment <i class="fa-regular fa-arrow-right"></i
      >
      </a>
    </div>
  </div>
</section>
<!-- ./ service-cta -->