<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1263">
    <div class="container">
        <div class="content">
            <span class="topper">Asked questions</span>
            <h2 class="title">Frequently Asked Questions</h2>
        </div>
        <ul class="faq-group">
            <!-- Active class added as default -->
            <li class="faq-item active">
                <button class="button">
                    <span class="button-text">
                        What are your prices for brake replacement?
                    </span>
                </button>
                <p class="item-p">
                    Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                </p>
            </li>
            <li class="faq-item">
                <button class="button">
                    <span class="button-text">
                        What is your plan cancellation policy?
                    </span>
                </button>
                <p class="item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="faq-item">
                <button class="button">
                    <span class="button-text">
                        What are your prices for brake replacement?
                    </span>
                </button>
                <p class="item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="faq-item">
                <button class="button">
                    <span class="button-text">
                        What are your prices for brake replacement?
                    </span>
                </button>
                <p class="item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="faq-item">
                <button class="button">
                    <span class="button-text">
                        What are your prices for brake replacement?
                    </span>
                </button>
                <p class="item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
        </ul>
    </div>
    <!--SVG Waves-->
    <picture class="background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" loading="lazy" decoding="async" alt="moon" width="1920" height="647">
    </picture>
    <script defer src="/assets/js/nav.js"></script>
</section>