<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <!--Top Section-->
        <div class="top">
            <!--Warpped logo in wrapper div so that div can be 100% width to force the lists below it to stay in their line.  The logo can maintain its' max width. we didn't want it 100% width becuase then the blank area to the right of the logo will also result in a click and hover event. -->
            <div class="logo-wrapper">
                <a href="" class="logo">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcodestitch-white.svg" alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="210" height="80">
                </a>
            </div>
            <ul class="ul">
                <li class="li">
                    <span class="header">Quick Links</span>
                </li>
                <li class="li">
                    <a href="" class="link">Services</a>
                </li>
                <li class="li">
                    <a href="" class="link">Contact us</a>
                </li>
                <li class="li">
                    <a href="" class="link">FAQ</a>
                </li>
            </ul>
            <ul class="ul">
                <li class="li">
                    <span class="header">Quick Links</span>
                </li>
                <li class="li">
                    <a href="" class="link">Semaglutide</a>
                </li>
                <li class="li">
                    <a href="" class="link">Dermal Filler</a>
                </li>
                <li class="li">
                    <a href="" class="link">Tirezapetide</a>
                </li>
                <li class="li">
                    <a href="" class="link">Neurotoxins</a>
                </li>
            </ul>
            <ul class="ul contact-ul">
                <li class="li">
                    <span class="header">Contact</span>
                </li>
                <li class="li">
                    <a href="tel:555-456 7899" class="link">
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        +1 (555) 456 7899
                    </a>
                </li>
                <li class="li">
                    <a href="mailto:info@example.com" class="link">
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        info@example.com
                    </a>
                </li>
                <li class="li">
                    <a href="" class="link" target="_blank" rel="noopener">
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        121 King St, Melbourne VIC 3000, Australia 
                    </a>
                </li>
            </ul>
        </div>
        <!--Middle Section-->
        <div class="middle">
            <!--Navigation-->
            <ul class="nav">
                <li class="nav-li">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link">Services</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link">About Us</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link">Functional Nutrition</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link">Asthetics</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link">FAQ</a>
                </li>
            </ul>
            <!--Social-->
            <ul class="social">
                <li class="social-li">
                    <a href="" class="social-link" aria-label="" target="_blank" rel="noopener">
                        <!--Default Icon-->
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffacebook.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        <!--On Hover Icon-->
                        <img class="social-icon hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffacebook-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="" class="social-link" aria-label="" target="_blank" rel="noopener">
                        <!--Default Icon-->
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        <!--On Hover Icon-->
                        <img class="social-icon hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="" class="social-link" aria-label="" target="_blank" rel="noopener">
                        <!--Default Icon-->
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstagram.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        <!--On Hover Icon-->
                        <img class="social-icon hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstagram-green2.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="" class="social-link" aria-label="" target="_blank" rel="noopener">
                        <!--Default Icon-->
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fyoutube.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        <!--On Hover Icon-->
                        <img class="social-icon hover" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fyoutube-green.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="bottom">
            <span class="copyright">
                © Copyright 2023 - <a href="" class="copyright-link" target="_blank" rel="noopener">CodeStitch Health & Wellness</a>
            </span>
        </div>
    </div>
    <!--SVG Waves-->
    <img class="graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffooter-waves.svg" alt="waves" aria-hidden="true" loading="lazy" decoding="async" width="1920" height="616">
</footer>