<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer class="footer-section footer-2 footer-4 bg-dark-1">
  <div class="shape">
    <img src="/assets/images/shapes/footer-bg-shape.png" alt="footer" />
  </div>
  <div class="container">
    <div class="row footer-wrap">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget logo-widget">
          <div class="widget-header">
            <div class="footer-logo">
              <a href="/"
                ><img
                  src="/assets/svgs/logo-white.svg"
                  alt="north melbourne weblogo"
              /></a>
            </div>
          </div>
          {#
          <p>
            Deton was born from a fusion of vision & expertise. Founded with the
            belief that every brand has a unique story
          </p>
          #}
          <ul class="social-list list-2">
            <li class="facebook">
              <a href="https://www.facebook.com/northmelbourneweb/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="pinterest">
              <a href="https://www.linkedin.com/company/north-melourne-web/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            {#
            <li class="twitter">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="instagram">
              <a href="#"> <i class="fab fa-instagram"></i> #} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget footer-col-2">
          <div class="widget-header">
            <h3 class="widget-title">Useful Links</h3>
          </div>
          <ul class="footer-list">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/services">Our Services</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <div class="widget-header">
            <a href="/contact">
              <h3 class="widget-title">Contact Us</h3>
            </a>
          </div>
          <ul class="address-list">
            <li>
              <a href="mailto:design@northmelbourneweb.com"
                >design@northmelbourneweb.com</a
              >
            </li>
            <li>
              <a href="tel:+61486010043">+61 (0) 486 010 043</a>
            </li>
            <li>
              Kingsway Dr, Lalor VIC <br />
              Melbourne, Australia
            </li>
          </ul>
        </div>
      </div>
      {#
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <div class="widget-header">
            <h3 class="widget-title">Subscribe newsletter</h3>
          </div>
          <div class="footer-form mb-20">
            <form action="#" class="rr-subscribe-form">
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="Email address"
              />
              <input type="hidden" name="action" value="mailchimpsubscribe" />
              <button class="submit">Sign Up</button>
              <div class="clearfix"></div>
            </form>
          </div>
          <div class="form-check form-item">
            <input class="form-check-input" type="checkbox" value="" id="man" />
            <label class="form-check-label" for="man">
              I’m okay with getting emails and having that tracked to improve my
              experience
            </label>
          </div>
        </div>
      </div>
    </div>
    #}
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row copyright-content justify-content-center">
        <div class="col-lg-6 col-md-12">
          <p class="mb-0">
            <a href="/copyright"
              >© 2024 North Melbourne Web. All Rights Reserved.</a
            >
            <span style="color: #fff">ABN: 50 680 449 870</span>
          </p>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="copyright-list">
            <li>
              <a href="/copyright">Copyright</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy &amp; Cookie Policy</a>
            </li>
            <li>
              <a href="/terms-of-service">Terms of Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ./ footer-section -->
