<section id="about">
    <div class="container">
        <div class="text-container">
            <h1 class="title">About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At quis donec eget tellus turpis imperdiet aenean libero. 
            </p>
        </div>
        <div class="image-container">
            <picture class="image image-1">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
            <picture class="image image-2">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
        </div>
    </div>
</section>