<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
    {# <div class="custom-shape-divider-top-1721271744">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div> #}
    <div class="container">
        <div class="content">
            <span class="topper">Best-In-Class</span>
            <h2 class="title">What We Do</h2>
            <p class="text">
                We are a full service construction company offering everything from residential and commercial painting to full home remodels and new home additions.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <img class="icon" src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="h3">Service Number 1</h3>
                    <p class="item-text">
                        As our client, you may utilize our in-house design capabilities or work with other contractors and architects of your choice.
                    </p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <img class="icon" src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="h3">Service Number 2</h3>
                    <p class="item-text">
                        As our client, you may utilize our in-house design capabilities or work with other contractors and architects of your choice.
                    </p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <img class="icon" src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="h3">Service Number 3</h3>
                    <p class="item-text">
                        As our client, you may utilize our in-house design capabilities or work with other contractors and architects of your choice.
                    </p>
                </a>
            </li>
        </ul>
        <a href="/contact" class="button-solid">Contact Us</a>
    </div>
</section>