<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1188">
    <div class="container">
        <div class="content">
            <span class="topper">Other services</span>
            <h2 class="title">We Provide Quality Auto Repair Services</h2>
            <p class="text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <picture class="picture">
                    <img class="icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/engineering%201%20red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">Check Engine Light</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brake-red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">Brake Repair Service</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img class="icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/air-conditioner-red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">AC Repair Service</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img class="icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/motor%201%20red.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">Oil Filter Change</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img class="icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/alloy-wheel-red.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">Changing Wheel</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img class="icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/contamination-red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="text-group">
                    <h3 class="h3">Emissions Repair</h3>
                    <p class="item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
        </ul>
        <a href="/contact" class="button-solid">Contact Us</a>
    </div>
</section>