<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="navigation">
    <div class="top-bar">
        <div class="top-container">
            <div class="top-contact">
                <a href="" class="top-link">
                    <img class="link-icon" src="/assets/svgs/phone-call-header.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                    Call us: +61 (0) 486 123 456
                </a>
                <a href="" class="top-link">
                    <img class="link-icon" src="/assets/svgs/clock-five.svg" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                    Opening hours: Mon - Sun: 9:00am To 9:00pm
                </a>
            </div>
            {# <div class="top-social">
                <a href="" class="social-link">
                    <img class="social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/face-grey.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="social-link">
                    <img class="social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twit-grey.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="social-link">
                    <img class="social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/insta-grey.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div> #}
        </div>
    </div>
    <div class="container">
        <!--Nav Logo-->
        <a href="/" class="logo" aria-label="back to home">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/consulting-logo.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="toggle" aria-label="mobile menu toggle">
                <div class="box" aria-hidden="true">
                    <span class="line line1" aria-hidden="true"></span>
                    <span class="line line2" aria-hidden="true"></span>
                    <span class="line line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="ul-wrapper">
                <ul id="expanded" class="ul" aria-expanded="false">
                    <li class="li">
                        <a href="/" class="li-link active">
                            Home
                        </a>
                    </li>
                    <li class="li">
                        <a href="/why-us" class="li-link">Why Us?</a>
                    </li>
                    <!--Copy and paste this dropdown list item and replace any .li with this dropdown group to make a new dropdown and it will work-->
                    <li class="li dropdown" tabindex="0">
                        <span class="li-link">
                            {# <a href="" class="li-link">Services</a> #}
                            Services
                            <img class="drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chev-down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="drop-ul">
                            <li class="drop-li">
                                <a href="/web-development" class="li-link drop-link">Web Development</a>
                            </li>
                            <li class="drop-li">
                                <a href="/web-design" class="li-link drop-link">Web Design</a>
                            </li>
                            <li class="drop-li">
                                <a href="/hosting-domains-and-support" class="li-link drop-link">Hosting, Domain and Support</a>
                            </li>
                            <li class="drop-li">
                                <a href="/logos-and-branding" class="li-link drop-link">Logos and Branding</a>
                            </li>
                            <li class="drop-li">
                                <a href="/copywriting" class="li-link drop-link">Copywriting</a>
                            </li>
                        </ul>
                    </li>
                    <li class="li">
                        <a href="/pricing" class="li-link">
                            Pricing
                        </a>
                    </li>
                    {# <li class="li">
                        <a href="/blog  " class="li-link">
                            Blog
                        </a>
                    </li> #}
                </ul>
            </div>
        </nav>
        <a href="/contact" class="button-solid nav-button">Contact Us</a>
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <img class="moon" aria-hidden="true" src="/assets/svgs/moon.svg" decoding="async" alt="sun" width="15" height="15">
            <img class="sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="moon" width="15" height="15">
        </button>
    </div>
</header>