<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="navigation">
    <div class="container">
        <!--Nav Logo-->
        <a href="" class="logo" aria-label="back to home">
            <img src="/assets/svgs/logo-single-black.svg" width="60" height="60" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="toggle" aria-label="mobile menu toggle">
                <div class="box" aria-hidden="true">
                    <span class="line line1" aria-hidden="true"></span>
                    <span class="line line2" aria-hidden="true"></span>
                    <span class="line line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="ul-wrapper">
                <ul id="expanded" class="ul" aria-expanded="false">
                    <li class="li">
                        <a href="/" class="li-link">
                            Home
                        </a>
                    </li>
                    <li class="li">
                        <a href="/#about" class="li-link">
                            About
                        </a>
                    </li>
                    <li class="li">
                        <a href="/#services" class="li-link">
                            Services
                        </a>
                    </li>
                    <li class="li">
                        <a href="/pricing" class="li-link">
                            Pricing
                        </a>
                    </li>
                    <li class="li">
                        <a href="#contact" class="li-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {# <a href="" class="button-solid nav-button">Reservation</a> #}
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <img class="moon" aria-hidden="true" src="/assets/svgs/moon.svg" decoding="async" alt="sun" width="15" height="15">
            <img class="sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="moon" width="15" height="15">
        </button>
    </div>
</header>