<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1203">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Welcome to Invetex</span>
      <h1 class="cs-title">
        Expert Accountants and Tax Advisors for Your Business
      </h1>
      <p class="cs-text">
        Highly qualified tax consultants with many years of experience in the
        field offer a full range of services to help you build a financial
        future.
      </p>
      <a href="" class="cs-button-solid">Free Consultation</a>
    </div>
    <!--To make your own background crops of people use https://www.remove.bg/-->
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant.png
        "
      />
      <source
        media="(min-width: 601px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant.png
        "
      />
      <img
        aria-hidden="true"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant.png"
        alt="accountant"
        width="886"
        height="842"
      />
    </picture>
  </div>
  <!--Floating Arrow-->
  <img
    class="cs-floater"
    aria-hidden="true"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-graph-full.svg"
    alt="accountant"
    width="1465"
    height="950"
  />
</section>
