<section id="hero">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Invetex</span>
            <h1 class="cs-title">Expert Accountants and Tax Advisors for Your Business</h1>
            <p class="cs-text">
                Highly qualified tax consultants with many years of experience in the field offer a full range of services to help you build a financial future.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="assets/images/hero-m.png">
            <source media="(min-width: 601px)" srcset="assets/images/hero.png">
            <img aria-hidden="true" decoding="async" src="assets/images/hero.png" alt="accountant" width="886" height="842">
        </picture>
    </div>
    <div class="blur-dot-1"></div>
</section>