<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-279">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Home Renovation Experts in Oak Harbor</h2>
            <p class="cs-text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Foyer</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Bathrooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Living Rooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                