<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1387">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-1387" class="cs-plan">Pay Annually</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-1387" class="cs-plan">Pay Monthly</span>
            </div>
        </div>
        <ul class="cs-card-group cs-option1">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Standard Pack</span>
                    <span class="cs-price">
                        $99
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Corporate Pack</span>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group cs-option2">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Standard Pack</span>
                    <span class="cs-price">
                        $99
                        <span class="cs-duration">/Year</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Corporate Pack</span>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/Year</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                