<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-596">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">
                <span>$0</span> Down, <span>$100</span> Per Month,  <br> 
12 Month Minimum Contract</h2>
            <p class="cs-text">
                $0 down for a standard 5 page small business website. If you need more than that then we will do custom pricing based on the scope of work, number of additional pages, and time involved.
                <br><br>
                You own your domain, content, listing, and profiles. Cancel anytime with no fees or hassle.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/database.svg" alt="Hosting Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Hosting Fees Included</h3>
                <p class="cs-item-text">
            Your subscription covers all hosting fees for running your website.
        </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/edit.svg" alt="Editing Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Unlimited Editing</h3>
                <p class="cs-item-text">
            Need changes on your website? We'll implement them within 24 hours.
        </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/user-headset.svg" alt="Customer Support Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">24/7 Customer Support</h3>
                <p class="cs-item-text">
            Facing an issue? Contact your web developer anytime.
        </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/browser.svg" alt="Web Design Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Web Design & Development</h3>
                <p class="cs-item-text">
            Receive a website with over 40 hours dedicated to design, development, and testing.
        </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/dashboard.svg" alt="Performance Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">High Site Performance</h3>
                <p class="cs-item-text">
            Our websites achieve a perfect score of 100/100 in Google's performance tests.
        </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/chart-histogram.svg" alt="Analytics Icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Traffic Analytics</h3>
                <p class="cs-item-text">
            Monitor your website traffic with the tools we install for you.
        </p>
            </li>
        </ul>
    </div>
</section>