<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-596">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Website Design and Development</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/database.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Hosting fees included</h3>
                <p class="cs-item-text">
                    Your website's hosting (running) fees are already included in your subscription.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/edit.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Unlimited editing</h3>
                <p class="cs-item-text">
                    Do you want to change something on the website? We'll make your changes within a day.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/user-headset.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">24/7 customer support</h3>
                <p class="cs-item-text">
                    Do you have a problem? Call directly the web developer day and night.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/browser.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Web Design & Development</h3>
                <p class="cs-item-text">
                    You get a website that has more than 40 hours of design, development, and testing.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/dashboard.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">High site performance</h3>
                <p class="cs-item-text">
                    Our sites score 100/100 in Google's performance tests.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/chart-histogram.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="cs-h3">Traffic analytics</h3>
                <p class="cs-item-text">
                    We install tools that allow you to monitor website traffic.
                </p>
            </li>
        </ul>
    </div>
</section>
                                