<section class="testimonial-section pt-130 pb-130 fade-wrapper">
  <div class="container">
    <div class="section-heading heading-3 text-center">
      <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">
        Testimonials
      </h4>
      <h2
        class="section-title"
        data-text-animation
        data-split="word"
        data-duration="1"
      >
        Clients feedback
      </h2>
    </div>
    <div class="row gy-lg-0 gy-4 testi-wrap justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="testi-item item-3 text-center fade-top">
          <div class="testi-thumb">
            <img src="/assets/images/testi/testi-author-1.png" alt="img" />
          </div>
          <div class="testi-content">
            <h3 class="author">Daniel Joseph <span>Writter</span></h3>
            <p>
              Curabitur accumsan nec aliquam mauris placat primis lacinia
              egestas congue facilisis ligula leo sociosqu consequat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="testi-item item-3 text-center fade-top">
          <div class="testi-thumb">
            <img src="/assets/images/testi/testi-author-3.png" alt="img" />
          </div>
          <div class="testi-content">
            <h3 class="author">Victoria Madison <span>Writter</span></h3>
            <p>
              Curabitur accumsan nec aliquam mauris placat primis lacinia
              egestas congue facilisis ligula leo sociosqu consequat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="testi-item item-3 mb-0 text-center fade-top">
          <div class="testi-thumb">
            <img src="/assets/images/testi/testi-author-2.png" alt="img" />
          </div>
          <div class="testi-content">
            <h3 class="author">Nicholas Thomas <span>Writter</span></h3>
            <p>
              Curabitur accumsan nec aliquam mauris placat primis lacinia
              egestas congue facilisis ligula leo sociosqu consequat
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ testimonial-section -->
