<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-441">
    <div class="cs-container">
        <span class="cs-topper">What We Do</span>
        <h2 class="cs-title">Creating and Managing Websites</h2>
        <p class="cs-text">
            We create custom websites for small businesses in Australia. Our hand-coded designs ensure top performance, driving more visitors to your site and increasing revenue potential.
        </p>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-icon" src="/assets/svgs/mobile-button.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                    </picture>
                    <span class="cs-number">Mobile first design</span>
                    <p class="cs-item-p">
                        When creating a website, we start with the mobile version to ensure compatibility.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-icon" src="/assets/svgs/devices.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                    </picture>
                    <span class="cs-number">Works on all devices</span>
                    <p class="cs-item-p">
                        Your website will be adapted for all kinds of devices. Access anywhere.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-icon" src="/assets/svgs/api.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                    </picture>
                    <span class="cs-number">Maximally optimized
</span>
                    <p class="cs-item-p">
                        We optimize all websites so that they get the best ranking within search engines.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                            