{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section class="page-header" data-background="{{ image }}">
  <div class="overlay"></div>
  <div class="shapes">
    <div class="shape shape-1">
      <img
        src="assets/img/shapes/page-header-shape-1.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-2">
      <img
        src="assets/img/shapes/page-header-shape-2.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-3">
      <img
        src="assets/img/shapes/page-header-shape-3.png"
        alt="web design shape"
      />
    </div>
  </div>
  <div class="container">
    <div class="page-header-content text-center">
      <h1 class="title">{{ title }}</h1>
      <h4 class="sub-title">
        <a class="home" href="/">Home </a>
        <span></span>
        <a class="inner-page" href="/blog"> Blog</a>
      </h4>
    </div>
  </div>
</section>
<!-- ./ page-header -->

<section class="blog-details pt-130 pb-130">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-8 col-md-12">
        <div class="blog-details-wrap">
          <div class="blog-details-img mb-40">
            <img src="{{ image }}" alt="{{ imageAlt }}" />
          </div>
          <ul class="post-meta">
            <li>
              <i class="fa-sharp fa-regular fa-clock"></i>{{ date | postDate}}
            </li>
            <li><i class="fa-light fa-user"></i>Post by: {{ Author }}</li>
          </ul>
          <div class="blog-details-content">{{ content | safe }}</div>
          <div class="tags">
            <div class="tag-left">
              <ul class="tag-list">
                <li>
                  <a href="#">Technology</a>
                </li>
                <li>
                  <a href="#">Repair</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
              </ul>
            </div>
            <div class="social-list-wrap">
              <h4 class="follow">Follow Us:</h4>
              <ul class="social-list">
                <li>
                  <a href="#" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="linkedin">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="blog-author-wrap">
            <div class="blog-author-item">
              <div class="author-img">
                <img src="assets/img/blog/author-img.png" alt="img" />
              </div>
              <div class="content">
                <h3 class="name">About Auhor</h3>
                <p>
                  Optimize resource eveling innoaion whereas visionary value
                  Comlingly engage extensible process with business process
                  improvements solution program make it easy.
                </p>
                <ul class="social-list">
                  <li>
                    <a href="#" class="facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="linkedin">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="instagram">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End .main-content -->

{% include "components/blog.html" %} {% endblock %}
