---
title: "404 | North Melbourne Web"
description: "404"
preloadImg: "/assets/images/pricing-hero.jpg"
permalink: "404/"
eleventyNavigation:
  key: 404
  order: 900
eleventyExcludeFromCollections: true
---

{% extends "layouts/base.html" %} {% block body %}
<section class="error-section mt-150 pt-130 pb-130">
  <div class="container">
    <div class="error-content text-center">
      <h2 class="text">Oops! <span>Page Not Found</span></h2>
      <img src="/assets/images/images/error-img.png" alt="img" />
    </div>
  </div>
</section>
{% endblock %}
