---
title: "About Us | Custom Web Design for Melbourne Small Businesses"
description: "Learn why North Melbourne Web is the trusted choice for Melbourne’s small businesses. We specialize in custom websites with 24/7 support to help your business grow online."
preloadImg: "/assets/images/banner/about-banner.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block body %} {% include
'components/about/banner.html' %} {% include 'components/about/about-1.html' %}
{% include 'components/about/process.html' %} {% include
'components/running_text.html' %} {% include 'components/about/about-2.html' %}
{# {% include 'components/about/team.html' %} {% include
'components/about/testimonial.html' %} #} {% include
'components/front/appointment.html' %} {% endblock %}
