---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-712">
        <div class="container">
            <span class="int-title">Interior Page</span>
        </div>
        <!--Background Image-->
        <picture class="background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/contact-banner.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/contact-banner.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/contact-banner.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="contact-490">
        <div class="container">
            <!-- Contact Info -->
            <div class="content">
                <span class="topper">Contact Us</span>
                <h2 class="title">Contact Information</h2>
                <p class="text">
                Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Eu volutpat odio facilisis mauris sit amet massa. Sit amet est placerat in egestas
            </p>

                <!--Address-->
                <span class="header">Address</span>
                <a href="" class="link">
                PO Box 15252 Mill Creek, <br>Washington, USA 98082
            </a>
                <!--Email-->
                <span class="header">Email</span>
                <a href="mailtp:info@iabuyer.com" class="link">info@iabuyer.com</a>
                <!--Phone-->
                <span class="header">Phone</span>
                <a href="tel:425-686-9566" class="link">(425) 686-9566</a>

                <!--Social Buttons-->
                <div class="social">
                    <a class="social-link" aria-label="visit google profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11" height="11">
                    </a>
                    <a class="social-link" aria-label="visit facebook profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
                    </a>
                    <a class="social-link" aria-label="visit instagram profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
                    </a>
                </div>
            </div>
            <!-- Form -->
            <form id="form-490" name="Contact Form" method="post">
                <label class="label">
                Name
                <input class="input" required type="text" id="name-490" name="name" placeholder="John/Jane Doe">
                </label>
                <label class="label">
                Email
                <input class="input" required type="text" id="email-490" name="email" placeholder="name@company.com">
                </label>
                <label class="label">
                Phone
                <input class="input" required type="text" id="phone-490" name="phone" placeholder="+1 (206) 987-6543">
                </label>
                <label class="label">
                How Did You Find Us
                <input class="input" type="text" id="find-490" name="find-us" placeholder="Social Media, Family, Friend...">
                </label>
                <label class="label -label-message">
                Message
                <textarea class="input" required name="Message" id="message-490" placeholder="Hello, I’m interested in..."></textarea>
                </label>
                <button class="button-solid" type="submit">Submit Message Now</button>
            </form>
        </div>
    </section>

{% endblock %}