---
title: "Pricing | North Melbourne Web"
description: "Explore our pricing options and add-ons for custom web design services"
preloadImg: "/assets/images/banner/pricing-banner.jpg"
permalink: "/pricing/"
eleventyNavigation:
  key: Pricing
  order: 300
---

{% extends "layouts/base.html" %} {% block body %} {% include
'components/pricing/banner.html' %} {% include 'components/pricing/pricing.html'
%} {% include 'components/pricing/running_text.html' %} {% include
'components/pricing/addons.html' %} {% endblock %}
