---
title: "Privacy Policy | North Melbourne Web"
description: "Understand how North Melbourne Web collects, uses, and protects your personal information. Your privacy is our priority."
preloadImg: "/assets/images/banner/about-banner.jpg"
permalink: "privacy-policy/"
eleventyNavigation:
  key: Privacy Policy
  order: 800
eleventyExcludeFromCollections: true
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/copyright.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<section
  class="page-header"
  data-background="/assets/images/banner/pricing-banner.jpg"
>
  <div class="overlay"></div>
  <div class="shapes">
    <div class="shape shape-1">
      <img
        src="/assets/images/shapes/page-header-shape-1.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-2">
      <img
        src="/assets/images/shapes/page-header-shape-2.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-3">
      <img
        src="/assets/images/shapes/page-header-shape-3.png"
        alt="web design shape"
      />
    </div>
  </div>
  <div class="container">
    <div class="page-header-content text-center">
      <h1 class="title">Privacy Policy</h1>
      <h4 class="sub-title">
        <a class="home" href="/">Home </a><span></span
        ><a class="inner-page" href="/privacy-policy"> Privacy Policy</a>
      </h4>
    </div>
  </div>
</section>
<!-- ./ page-header -->

<div
  id="copyright"
  class="pt-100 pb-100"
  style="
    .h1 {
      padding-top: 30rem;
    }
  "
>
  <div class="container">
    <h1>Privacy Policy</h1>

    <p>
      Your privacy is important to us. This Privacy Policy explains how North
      Melbourne Web's ("we", "our", "us") collects, uses, and protects your
      personal information when you use our website.
    </p>

    <h2>1. Information We Collect</h2>
    <p>
      We collect various types of information in connection with the services we
      provide, including:
    </p>
    <p>
      <strong>Personal Information:</strong> Information that identifies you as
      an individual, such as your name, email address, and any other information
      you provide to us directly.
    </p>
    <p>
      <strong>Usage Data:</strong> Information collected automatically through
      your use of our website, including but not limited to, your IP address,
      browser type, pages visited, and the time and date of your visit.
    </p>

    <h2>2. Use of Information</h2>
    <p>We use the information we collect for various purposes, including:</p>
    <p>- To provide and maintain our website</p>
    <p>- To improve and personalize your experience on our website</p>
    <p>- To understand how users interact with our website</p>
    <p>- To detect, prevent, and address technical issues</p>
    <p>
      - To communicate with you, including responding to your inquiries and
      providing updates
    </p>

    <h2>3. Google Analytics</h2>
    <p>
      We use Google Analytics to collect and analyze information about your use
      of our website. Google Analytics collects information such as how often
      users visit the website, what pages they visit, and what other sites they
      used prior to coming to our website.
    </p>
    <p>
      Google Analytics operates independently from us and has its own privacy
      policy, which we strongly suggest you review. Google may use the
      information collected through Google Analytics to evaluate users' activity
      on our website. For more information on Google Analytics, please visit
      <a href="https://policies.google.com/privacy">Google's Privacy Policy</a>.
    </p>

    <h2>4. Cookies</h2>
    <p>
      We use cookies and similar tracking technologies to track the activity on
      our website and hold certain information. Cookies are files with a small
      amount of data that are stored on your device. You can instruct your
      browser to refuse all cookies or to indicate when a cookie is being sent.
      However, if you do not accept cookies, you may not be able to use some
      portions of our website.
    </p>

    <h2>5. Sharing Your Information</h2>
    <p>
      We do not sell, trade, or otherwise transfer to outside parties your
      Personally Identifiable Information unless we provide users with advance
      notice. This does not include website hosting partners and other parties
      who assist us in operating our website, conducting our business, or
      serving our users, so long as those parties agree to keep this information
      confidential. We may also release information when it's release is
      appropriate to comply with the law, enforce our site policies, or protect
      ours or others' rights, property or safety.
    </p>

    <h2>6. Security</h2>
    <p>
      We take reasonable measures to help protect personal information from
      loss, theft, misuse and unauthorized access, disclosure, alteration, and
      destruction. However, no method of transmission over the Internet, or
      method of electronic storage, is 100% secure, and we cannot guarantee its
      absolute security.
    </p>

    <h2>7. Changes to This Privacy Policy</h2>
    <p>
      We may update our Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on this page. You are
      advised to review this Privacy Policy periodically for any changes.
      Changes to this Privacy Policy are effective when they are posted on this
      page.
    </p>

    <h2>8. Contact Us</h2>
    <p>
      If you have any questions about this Privacy Policy, please contact us at
      <a href="mailto:design@northmelbourneweb.com"
        >design@northmelbourneweb.com</a
      >.
    </p>
  </div>
</div>

{% endblock %}
