---
title: "Terms of Service | North Melbourne Web"
description: "Review the terms and conditions for using North Melbourne Web’s services. Understanding these terms helps ensure a smooth experience."
preloadImg: "/assets/images/banner/about-banner.jpg"
permalink: "terms-of-service/"
eleventyNavigation:
  key: Terms of service
  order: 800
eleventyExcludeFromCollections: true
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/copyright.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
<section
  class="page-header"
  data-background="/assets/images/banner/pricing-banner.jpg"
>
  <div class="overlay"></div>
  <div class="shapes">
    <div class="shape shape-1">
      <img
        src="/assets/images/shapes/page-header-shape-1.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-2">
      <img
        src="/assets/images/shapes/page-header-shape-2.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-3">
      <img
        src="/assets/images/shapes/page-header-shape-3.png"
        alt="web design shape"
      />
    </div>
  </div>
  <div class="container">
    <div class="page-header-content text-center">
      <h1 class="title">Terms of Service</h1>
      <h4 class="sub-title">
        <a class="home" href="/">Home </a><span></span
        ><a class="inner-page" href="/terms-of-service"> Terms of Service</a>
      </h4>
    </div>
  </div>
</section>
<!-- ./ page-header -->

<div
  id="copyright"
  class="pt-100 pb-100"
  style="
    .h1 {
      padding-top: 30rem;
    }
  "
>
  <div class="container">
    <h1>Terms and Services</h1>

    <h2>1. Introduction</h2>
    <p>
      Welcome to North Melbourne Web. By accessing and using our website, you
      agree to be bound by these Terms and Services.
    </p>

    <h2>2. Definitions</h2>
    <p>"Website" refers to North Melbourne Web Website.</p>
    <p>"User" refers to anyone who uses our Website.</p>

    <h2>3. Acceptance of Terms</h2>
    <p>
      By accessing and using our Website, you agree to comply with these terms.
    </p>

    <h2>4. Changes to Terms</h2>
    <p>
      We reserve the right to modify these terms at any time. Changes will be
      posted on this page, and your continued use of the Website constitutes
      acceptance of such changes.
    </p>

    <h2>5. Use of the Website</h2>
    <p>
      Users must not engage in unlawful or prohibited activities. By using our
      Website, you agree to adhere to all applicable laws and regulations.
    </p>

    <h2>6. Intellectual Property</h2>
    <p>
      All content on the Website, including text, graphics, and logos, is our
      property or the property of our licensors. You may not use our content
      without permission.
    </p>

    <h2>7. Privacy Policy</h2>
    <p>
      Our <a href="/privacy-policy">Privacy Policy</a> explains how we handle
      your personal data. We use Google Analytics to collect data about your
      interaction with our Website. This information helps us improve our
      services and understand user behavior. For more details, please review our
      <a href="/privacy-policy">Privacy Policy</a>.
    </p>

    <h2>8. Disclaimers and Limitation of Liability</h2>
    <p>
      Our Website is provided "as is" without warranties of any kind. We do not
      guarantee the accuracy, completeness, or reliability of any content. We
      are not liable for any damages arising from the use of our Website.
    </p>

    <h2>9. Governing Law</h2>
    <p>
      These terms are governed by the laws of Australia. Any disputes will be
      resolved through arbitration in Victoria, Australia.
    </p>

    <h2>10. Links to Other Websites</h2>
    <p>
      Our Website may contain links to external websites. We are not responsible
      for the content or practices of these websites.
    </p>

    <h2>11. Termination</h2>
    <p>
      We reserve the right to terminate or restrict your access to our Website
      at any time, without notice, for conduct that we believe violates these
      terms or is harmful to other users of the Website, us, or third parties,
      or for any other reason.
    </p>

    <h2>12. Contact Information</h2>
    <p>
      For any questions or support, please contact us at
      <a href="mailto:design@northmelbourneweb.com"
        >design@northmelbourneweb.com</a
      >.
    </p>
  </div>
</div>

{% endblock %}
