/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs .left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs .picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs .picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs .right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs .title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs .text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    color: var(--bodyTextColor);
    text-align: left;
  }
  #sbs .text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs .flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs .job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs .button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs .left:before, body.dark-mode #sbs .left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs .topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .title,
  body.dark-mode #sbs .text,
  body.dark-mode #sbs .h3,
  body.dark-mode #sbs .flex-p,
  body.dark-mode #sbs .name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .quote-icon {
    opacity: 0.2;
  }
}

/*# sourceMappingURL=about.css.map */
