/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    /* 150px - 350px */
    padding: clamp(9rem, 25.95vw, 21.875rem) 1rem;
    padding-bottom: 0;
    text-align: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--backgroundLight);
  }
  @keyframes slow-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #hero .blur-dot-1 {
    top: 3.125rem;
    right: 3.125rem;
    z-index: -1;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-image: radial-gradient(closest-side, rgba(140, 199, 211, 0.21), var(--backgroundLight));
    transform-origin: 60% 50%;
  }
  #hero .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #hero .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: left;
  }
  #hero .topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero .title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    width: 100%;
    max-width: 17ch;
    margin: 0 0 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #hero .text {
    font-size: 1.25rem;
    line-height: 1.5em;
    width: 100%;
    max-width: 43.75rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #hero .button-solid {
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  #hero .button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero .button-solid:hover:before {
    width: 100%;
  }
  #hero .picture {
    width: 100%;
    /* changes to 866px at desktop */
    max-width: 34.0625rem;
    height: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  #hero .picture img {
    width: 100%;
    height: auto;
  }
  #hero .floater {
    /* changes to 1465px at desktop */
    width: 59.6875rem;
    height: auto;
    opacity: 0.08;
    display: block;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero:before {
    height: 16.125rem;
  }
  #hero .picture {
    width: 70%;
    max-width: 54.125rem;
  }
  #hero .floater {
    width: 91.5625rem;
    top: 30%;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero {
    padding-bottom: 12.5rem;
  }
  #hero:before {
    height: 100%;
    width: 40vw;
    margin-left: 20.8125rem;
    left: 50%;
  }
  #hero .container {
    flex-direction: row;
    justify-content: flex-start;
    /* remove the positioning so the picture is now absolutely positioned to the next parent with a declared position - the #hero section container. Now we can position it off the bottom edge of the parent container */
    position: initial;
  }
  #hero .content {
    text-align: left;
    align-items: flex-start;
  }
  #hero .picture {
    width: 54.125rem;
    height: 52.625rem;
    margin-left: 0.625rem;
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  #hero .picture img {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
  }
  #hero .floater {
    margin-right: -20.8125rem;
    top: 8.75rem;
    right: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero {
    background-color: var(--dark);
  }
  body.dark-mode #hero .blur-dot-1 {
    background-image: radial-gradient(closest-side, rgba(140, 199, 211, 0.21), var(--dark));
  }
  body.dark-mode #hero .topper {
    color: var(--primaryLight);
  }
  body.dark-mode #hero .title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero .text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
}

/*# sourceMappingURL=critical.css.map */
