/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #index-intro {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #index-intro .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #index-intro .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #index-intro .title {
    max-width: 20ch;
  }
  #index-intro .text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #index-intro .text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #index-intro .chevron {
    --chevronColor: var(--primary);
    width: 3rem;
    height: auto;
  }
  #index-intro .card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
  }
  #index-intro .item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
  }
  #index-intro .item:hover .picture img {
    opacity: 0.5;
    transform: scale(1.2);
  }
  #index-intro .link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #index-intro .picture {
    width: 100%;
    height: 15rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #index-intro .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #index-intro .h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #index-intro .item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #index-intro .fake-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    color: var(--primary);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #index-intro .fake-link:hover .icon {
    transform: translateX(0.5rem);
  }
  #index-intro .icon {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #index-intro .container {
    max-width: 80rem;
  }
  #index-intro .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #index-intro .flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #index-intro .title {
    margin: 0;
  }
  #index-intro .text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #index-intro .text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  #index-intro .item {
    grid-column: span 6;
  }
  #index-intro .picture {
    /* 240px - 420px */
    height: clamp(15rem, 33vw, 26.25rem);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #index-intro .item {
    grid-column: span 3;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #index-intro {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #index-intro .title, body.dark-mode #index-intro .text, body.dark-mode #index-intro .h3, body.dark-mode #index-intro .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-intro .text, body.dark-mode #index-intro .item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #index-about .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #index-about .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to the .content so we can have the picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #index-about .text {
    margin-bottom: 1rem;
  }
  #index-about .text:last-of-type {
    margin-bottom: 2rem;
  }
  #index-about .button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #index-about .button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #index-about .button-solid:hover:before {
    width: 100%;
  }
  #index-about .picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #index-about .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #index-about {
    padding: var(--sectionPadding);
  }
  #index-about .container {
    flex-direction: row;
    justify-content: flex-end;
    /* 60px - 128px */
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #index-about .content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #index-about .picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: clamp(32.375rem, 63vw, 43.75rem);
    /* 16px - 28px, added margin left and bottom to picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #index-about .picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #index-about .topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-about .title,
  body.dark-mode #index-about .text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-about .text {
    opacity: 0.8;
  }
  body.dark-mode #index-about .picture:before {
    background-color: var(--accent);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #index-services {
    padding: var(--sectionPadding);
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light1.svg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
  }
  #index-services .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #index-services .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #index-services .text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #index-services .title,
  #index-services .text {
    max-width: 100%;
  }
  #index-services .card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.875rem;
  }
  #index-services .item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* margin top value to match the negative margin value of the .icon-wrapper */
    margin: 2.75rem 0 0 0;
    /* 24px - 64px bottom */
    /* 24px - 40px left & right */
    padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
    background-color: #f7f3ee;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #index-services .item:hover .h3 {
    color: var(--bodyTextColorWhite);
  }
  #index-services .item:hover .item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #index-services .item:hover .background {
    opacity: 1;
  }
  #index-services .icon-wrapper {
    width: 5.5rem;
    height: 5.5rem;
    margin: -2.75rem auto 2rem 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
  }
  #index-services .icon {
    width: 2.5rem;
    height: auto;
  }
  #index-services .h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #index-services .item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #index-services .link {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #index-services .link:hover {
    color: #fff;
  }
  #index-services .link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #index-services .background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #index-services .background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #index-services .background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #index-services .waves {
    width: 100%;
    height: 13.875rem;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #index-services .waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #index-services .container {
    max-width: 80rem;
  }
  #index-services .card-group {
    column-gap: 1.875rem;
  }
  #index-services .item {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #index-services .item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #index-services {
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light2.svg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
  }
  body.dark-mode #index-services .title,
  body.dark-mode #index-services .text,
  body.dark-mode #index-services .h3,
  body.dark-mode #index-services .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-services .text,
  body.dark-mode #index-services .item-text {
    opacity: 0.9;
  }
  body.dark-mode #index-services .item {
    background-color: var(--medium);
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #index-faq {
    position: relative;
    overflow: hidden;
  }
  #index-faq .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #index-faq .picture {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #index-faq .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #index-faq .content {
    text-align: left;
    max-width: 33.8125rem;
    /* move section padding to the content so we can make the picture full width */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
  }
  #index-faq .title {
    /* 20 characters wide including spaces */
    max-width: 20ch;
    margin: 0 0 1.5rem 0;
  }
  #index-faq .faq-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #index-faq .faq-item {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    transition: border-bottom 0.3s;
  }
  #index-faq .faq-item.active {
    border-color: var(--primaryLight);
  }
  #index-faq .faq-item.active .button {
    color: var(--primary);
  }
  #index-faq .faq-item.active .button:before {
    background-color: var(--primaryLight);
    transform: rotate(315deg);
  }
  #index-faq .faq-item.active .button:after {
    background-color: var(--primaryLight);
    transform: rotate(-315deg);
  }
  #index-faq .faq-item.active .item-p {
    height: auto;
    /* 20px - 24px bottom */
    padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
    opacity: 1;
  }
  #index-faq .button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    /* 16px - 24px */
    padding: clamp(1rem, 2.3vw, 1.5rem) 0;
    border: none;
    background: transparent;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #index-faq .button:hover {
    cursor: pointer;
  }
  #index-faq .button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 0.25rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #index-faq .button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 0.0625rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #index-faq .button-text {
    width: 90%;
    display: block;
  }
  #index-faq .item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    max-width: 33.8125rem;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
  #index-faq .graphic {
    width: 22.5625rem;
    height: auto;
    opacity: 0.5;
    display: none;
    position: absolute;
    right: -11.25rem;
    bottom: 1.875rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #index-faq {
    /* moved seciton padding back to the section */
    padding: var(--sectionPadding);
  }
  #index-faq .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #index-faq .picture {
    width: 50%;
    max-width: 40.625rem;
    /* 500px - 750px */
    height: clamp(31.25rem, 68vw, 46.875rem);
  }
  #index-faq .content {
    width: 55%;
    padding: 0;
  }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #index-faq .graphic {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #index-faq .topper {
    color: var(--primaryLight);
  }
  body.dark-mode #index-faq .title,
  body.dark-mode #index-faq .item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-faq .faq-item {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #index-faq .faq-item.active {
    border-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-faq .faq-item.active .button {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-faq .faq-item.active .button:before, body.dark-mode #index-faq .faq-item.active .button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-faq .button {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #index-faq .button:before, body.dark-mode #index-faq .button:after {
    background-color: var(--bodyTextColorWhite);
  }
}

/*# sourceMappingURL=local.css.map */
