/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-main {
    padding: var(--sectionPadding);
  }
  #pricing-main .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-main .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-main .toggle-group {
    width: auto;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pricing-main .plan {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #pricing-main .plan:hover {
    cursor: pointer;
  }
  #pricing-main .toggle {
    width: 3.875rem;
    height: 2.25rem;
    border-radius: 2.5rem;
    background-color: var(--primaryLight);
    margin: 0 0.75rem;
    position: relative;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #pricing-main .toggle:hover {
    cursor: pointer;
  }
  #pricing-main .toggle.active:before {
    opacity: 1;
  }
  #pricing-main .toggle.active .toggle-switch {
    left: 2rem;
  }
  #pricing-main .toggle:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffba43 -24.69%, #e12213 126.23%);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 2.5rem;
    transition: opacity 0.3s;
  }
  #pricing-main .toggle-switch {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.375rem;
    transition: left 0.3s;
    background: #fff;
  }
  #pricing-main .card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 1.8vw, 1.25rem);
    row-gap: 2.5rem;
    perspective: 700px;
    transform-style: preserve-3d;
  }
  #pricing-main .card-group.active.option1 {
    /* when the active class is on the card-group, run these styles */
    transform: scale(0);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  #pricing-main .card-group.active.option1 .item {
    /* when the active class is on the card-group, run these styles */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-main .card-group.active.option2 {
    /* when the active class is on the card-group, run these styles */
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    transform: scale(1);
  }
  #pricing-main .card-group.active.option2 .item {
    /* when the active class is on the card-group, run these styles */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
  }
  #pricing-main .option1 {
    /* default styles when there is no active class on the card-group */
    opacity: 1;
    visibility: visible;
    left: left;
    bottom: auto;
    transform: scale(1);
    transform-origin: left top;
    transition: transform 0.6s, opacity 0.3s, visibility 0.3s;
  }
  #pricing-main .option1 .item {
    /* default styles when there is no active class on the card-group */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-main .option1 .item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-main .option1 .item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-main .option2 {
    /* default styles when there is no active class on the card-group */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 0;
    /* reset on tablet */
    top: 62.5rem;
    transform: scale(0);
    transform-origin: left top;
    transition: transform 0.6s, opacity 0.3s, visibility 0.3s, bottom 0.6s;
  }
  #pricing-main .option2 .item {
    /* default styles when there is no active class on the card-group */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-main .option2 .item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-main .option2 .item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-main .item {
    list-style: none;
    width: 100%;
    /* matches the -88px the price-box's margin top to offset it */
    margin: 5.5rem 0 0 0;
    /* 80px - 100px top *
    /* 16px - 56px left & right */
    /* 16px - 48px bottom */
    padding: clamp(5rem, 9vw, 6.25rem) clamp(1rem, 2.3vw, 3.5rem) clamp(1rem, 5vw, 3rem);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
    background-color: #fff;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #pricing-main .price-box {
    width: 100%;
    /* 32px - 48px margin-bottom */
    margin: -10.5rem 0 clamp(2rem, 5vw, 3rem) 0;
    /* 24px - 32px top & bottom */
    /* 24px - 48px left and right */
    padding: clamp(1.5rem, 4vw, 2rem) clamp(1.5rem, 3vw, 3rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #12192d;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  #pricing-main .package {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #pricing-main .price {
    /* 24px - 32px */
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #pricing-main .desc {
    font-size: 0.75rem;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #pricing-main .item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left;
    font-weight: 400;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2vw, 1.5rem);
    color: var(--bodyTextColor);
  }
  #pricing-main .included {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: 700;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2vw, 1.5rem);
    color: var(--headerColor);
  }
  #pricing-main .ul {
    /* 32px - 48px */
    margin: 0 0 clamp(2rem, 5vw, 3rem);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
  #pricing-main .li {
    font-size: 0.875rem;
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push everything to the top so if the li goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 1rem;
  }
  #pricing-main .icon {
    width: 0.9375rem;
    height: auto;
    /* push icon a little from the top so it looks centered */
    margin-top: 0.1875rem;
    display: block;
  }
  #pricing-main .button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #pricing-main .button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #pricing-main .button-solid:hover:before {
    width: 100%;
  }
  #pricing-main .price-button {
    /* 14px - 18px */
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
    /* 36px - 50px */
    line-height: clamp(2.25rem, 4.5vw, 3.125rem);
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    height: clamp(2.25rem, 4.5vw, 3.125rem);
    /* pushes button to the bottom of the item */
    margin-top: auto;
    border-radius: 0.25rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-main .card-group {
    flex-direction: row;
    justify-content: space-between;
  }
  #pricing-main .card-group.active {
    bottom: 0;
    top: auto;
  }
  #pricing-main .option2 {
    top: auto;
    bottom: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-main .topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-main .title,
  body.dark-mode #pricing-main .text, body.dark-mode #pricing-main .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-main .text, body.dark-mode #pricing-main .item-text {
    opacity: 0.8;
  }
  body.dark-mode #pricing-main .plan {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-main .item {
    background-color: var(--medium);
  }
  body.dark-mode #pricing-main .price-box {
    background-color: var(--accent);
  }
  body.dark-mode #pricing-main .item-p,
  body.dark-mode #pricing-main .included,
  body.dark-mode #pricing-main .li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-main .icon {
    /* makes icon white (if it wasnt black to start) */
    filter: grayscale(1) brightness(1000%);
  }
}

/*# sourceMappingURL=pricing.css.map */
