/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbsr-1363 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #sbsr-1363 .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1363 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1363 .topper {
    color: #767676;
  }
  #sbsr-1363 .title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #sbsr-1363 .text {
    margin-bottom: 1rem;
  }
  #sbsr-1363 .text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbsr-1363 .card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #sbsr-1363 .item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbsr-1363 .h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbsr-1363 .h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbsr-1363 .item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1363 .ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbsr-1363 .li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-1363 .icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbsr-1363 .button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbsr-1363 .button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-1363 .button-solid:hover {
    color: var(--primary);
  }
  #sbsr-1363 .button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1363 .image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbsr-1363 .background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbsr-1363 .background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbsr-1363 .box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    padding: 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primary);
    /* 48px - 80px */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #sbsr-1363 .box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
  }
  #sbsr-1363 .desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbsr-1363 .bubbles {
    font-size: min(2.5vw, 0.7em);
    width: 26.1875em;
    height: 26.6875em;
    position: absolute;
    /* Reset at larger desktop */
    right: -16.25em;
    /* chnages to 30px at desktop */
    bottom: -3.125em;
    z-index: -1;
  }
  #sbsr-1363 .bubbles:before {
    /* white border bubble */
    content: "";
    width: 20.625em;
    height: 20.625em;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-1363 .bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.25em;
    height: 16.25em;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1363 .container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1363 .image-group {
    height: auto;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1363 .bubbles {
    font-size: min(2.5vw, 1em);
    bottom: 0rem;
    right: -6.25rem;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbsr-1363 .bubbles {
    margin-right: 46.875rem;
    left: auto;
    right: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1363 .topper {
    color: var(--primary);
  }
  body.dark-mode #sbsr-1363 .title,
  body.dark-mode #sbsr-1363 .text,
  body.dark-mode #sbsr-1363 .li,
  body.dark-mode #sbsr-1363 .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1363 .text,
  body.dark-mode #sbsr-1363 .li,
  body.dark-mode #sbsr-1363 .item-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-1363 .item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #sbsr-1363 .h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1363 .icon {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbsr-1363 .bubbles:before {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-472 {
    padding: var(--sectionPadding);
    background-color: #14142b;
    /* clips the glowing orbs from causing overflow issues when they overflow the container */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #stats-472:before, #stats-472:after {
    /* glowing orbs */
    content: "";
    width: 28.3125rem;
    height: 20.8125rem;
    background: #f1f1f4;
    opacity: 0.16;
    -webkit-filter: blur(182px);
    filter: blur(182px);
    position: absolute;
    display: block;
    top: -4.125rem;
    left: -14.1875rem;
    z-index: -1;
  }
  #stats-472:after {
    display: none;
  }
  #stats-472 .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 43.75rem;
    margin: auto;
  }
  #stats-472 .card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3.75rem;
  }
  #stats-472 .item {
    list-style: none;
    width: 47%;
    max-width: 15rem;
    margin: 0;
    padding: 0 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stats-472 .icon {
    /* 50px - 76px */
    width: clamp(3.125rem, 6vw, 4.75rem);
    height: auto;
    margin: 0 0 1.25rem;
    display: block;
  }
  #stats-472 .number {
    /* 31px - 61px */
    font-size: clamp(1.9375rem, 4.3vw, 3.8125rem);
    line-height: 1.2em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColorWhite);
  }
  #stats-472 .desc {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.15rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-472:after {
    display: block;
    left: auto;
    top: 3.5625rem;
    right: -17.5625rem;
  }
  #stats-472 .container {
    max-width: 80rem;
  }
  #stats-472 .card-group {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-576,
  #RPsbsr-576 {
    background-color: var(--primary);
  }
  #RPsbs-576 .container,
  #RPsbsr-576 .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #RPsbs-576 .content,
  #RPsbsr-576 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to the .content so we can have the picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RPsbs-576 .topper,
  #RPsbs-576 .title,
  #RPsbsr-576 .topper,
  #RPsbsr-576 .title {
    color: var(--bodyTextColorWhite);
  }
  #RPsbs-576 .text,
  #RPsbsr-576 .text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #RPsbs-576 .text:last-of-type,
  #RPsbsr-576 .text:last-of-type {
    margin-bottom: 2rem;
  }
  #RPsbs-576 .button-solid,
  #RPsbsr-576 .button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--bodyTextColorWhite);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #RPsbs-576 .button-solid:before,
  #RPsbsr-576 .button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RPsbs-576 .button-solid:hover,
  #RPsbsr-576 .button-solid:hover {
    color: #fff;
  }
  #RPsbs-576 .button-solid:hover:before,
  #RPsbsr-576 .button-solid:hover:before {
    width: 100%;
  }
  #RPsbs-576 .picture,
  #RPsbsr-576 .picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #RPsbs-576 .picture img,
  #RPsbsr-576 .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RPsbs-576,
  #RPsbsr-576 {
    /* we use margin here instead of padding because we want to create the space OUTSIDE the section.  The overflow on the section clips the boxes we made to make the slanted designs, so we need to push from the outside of the section with margin to create space between it and the next section.  If the section above this Stitch has a white background, add margin-top: 0. If it has a white section below it, add margin-bottom: 0. This will allow more proper spacing and not have too much empty space.  If both sections above and below this Stitch have white backgrounds, you can just remove this margin all together */
    margin: var(--sectionPadding);
    margin-left: 0;
    margin-right: 0;
    padding: var(--sectionPadding);
    background-color: transparent;
    /* clips the red box from overflowing the section */
    overflow: hidden;
  }
  #RPsbs-576 .container,
  #RPsbsr-576 .container {
    flex-direction: row;
    position: relative;
    z-index: 1;
  }
  #RPsbs-576 .container:before,
  #RPsbsr-576 .container:before {
    /* red box */
    content: "";
    width: 100vw;
    margin-left: -38%;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    top: -9.375rem;
    bottom: -9.375rem;
    left: 50%;
    z-index: -1;
  }
  #RPsbs-576 .content,
  #RPsbsr-576 .content {
    width: 51%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #RPsbs-576 .picture,
  #RPsbsr-576 .picture {
    width: 47vw;
    max-width: 38.625rem;
    height: 33.5rem;
    /* 24px - 32px, added margin top and bottom to picture so it pushes away by the same amount the yellow box element overlaps it top and bottom. This maintains consistent spacing top and bottom */
    margin: clamp(1.5rem, 3vw, 2rem) 0 clamp(1.5rem, 3vw, 2rem) clamp(1.5rem, 3vw, 2rem);
    position: relative;
  }
  #RPsbs-576 .picture:before,
  #RPsbsr-576 .picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    /*24px - 32px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    top: calc(clamp(1.5rem, 3vw, 2rem) * -1);
    bottom: calc(clamp(1.5rem, 3vw, 2rem) * -1);
    left: calc(clamp(1.5rem, 3vw, 2rem) * -1);
  }
}
/* Dark Mode - 768px */
@media only screen and (min-width: 48rem) {
  body.dark-mode #RPsbs-576 .container:before,
  body.dark-mode #RPsbsr-576 .container:before {
    opacity: 0.5;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-596 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #services-596 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #services-596 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-596 .cs-card-group {
    width: 100%;
    margin: 0;
    /* 36px - 80px top & bottom */
    /* 24px - 88px right & left */
    padding: clamp(2.25rem, 6vw, 5rem) clamp(1.5rem, 6.4vw, 5.5rem);
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* 32px - 64px */
    row-gap: clamp(2rem, 7vw, 4rem);
  }
  #services-596 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  #services-596 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #services-596 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 3vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* In-between - 550px */
@media only screen and (min-width: 34.375rem) {
  #services-596 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 48px - 64px */
    row-gap: clamp(3rem, 6vw, 4rem);
  }
  #services-596 .cs-item {
    width: 47%;
  }
}
/* Desktop 1024px */
@media only screen and (min-width: 64rem) {
  #services-596 .cs-item {
    width: 31%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-596 .cs-content:before {
    /* makes it 40% darker */
    filter: brightness(60%);
  }
  body.dark-mode #services-596 .cs-card-group {
    background-color: var(--medium);
  }
  body.dark-mode #services-596 .cs-topper,
  body.dark-mode #services-596 .cs-title,
  body.dark-mode #services-596 .cs-text,
  body.dark-mode #services-596 .cs-h3,
  body.dark-mode #services-596 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-596 .cs-item-text,
  body.dark-mode #services-596 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #services-596 .cs-icon {
    /* turns it white */
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-598 {
    position: relative;
  }
  #sbs-598 .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-598 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to content so the background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-598 .text {
    margin-bottom: 1rem;
  }
  #sbs-598 .text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-598 .button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-598 .button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-598 .button-solid:hover:before {
    width: 100%;
  }
  #sbs-598 .background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbs-598 .background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-598 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
  }
  #sbs-598 .container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #sbs-598 .background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
  }
  #sbs-598 .content {
    width: 45%;
    padding: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-598 .topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-598 .title,
  body.dark-mode #sbs-598 .text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-598 .text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1712 {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1712 .container {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #steps-1712 .wrapper {
    /* changes to 630px on tablet */
    max-width: 31.25rem;
    margin: auto;
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1712 .content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #steps-1712 .title {
    margin: 0;
  }
  #steps-1712 .card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
    grid-auto-flow: row;
  }
  #steps-1712 .item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  #steps-1712 .number {
    /* 80px - 100px */
    font-size: clamp(5rem, 9vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -2px;
    margin-right: -1.25rem;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1712 .h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1712 .item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1712 .background {
    width: 100%;
    height: 22.5rem;
    display: block;
  }
  #steps-1712 .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1712 {
    padding: var(--sectionPadding);
  }
  #steps-1712 .container {
    padding: 0;
    justify-content: flex-start;
  }
  #steps-1712 .title {
    margin: 0;
  }
  #steps-1712 .wrapper {
    width: 65vw;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
  }
  #steps-1712 .card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1712 .item {
    flex-direction: row;
  }
  #steps-1712 .picture {
    width: 11.25rem;
    height: 11.25rem;
  }
  #steps-1712 .background {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1712 .wrapper {
    width: 50vw;
  }
  #steps-1712 .background {
    width: 50vw;
    left: 50%;
    right: auto;
    margin-left: 10rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps-1712 .title,
  body.dark-mode #steps-1712 .h3,
  body.dark-mode #steps-1712 .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-1712 .item-text {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=why-us.css.map */
