<!-- ============================================ -->
<!--                 Reviews                      -->
<!-- ============================================ -->

<section id="reviews-1335">
    <div class="container">
        <div class="content">
            <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-quote.svg" alt="quote" width="97" height="80">
            <p class="review">
                We are very happy with our decision to take consultation from Transformative Health & Wellness. The results are beyond our expectations and, as a result, we are confident. When you think about collecting customer feed back, it’s easy to get overwhelmed by the sheer volume of . With so many more customers and so many ways to connect with their feedback it’s hard to know to where to start.
            </p>
            <span class="name">Cameron Williamson</span>
            <span class="desc">Founder Of Yokoloko</span>
            <img class="floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-3.svg" alt="arrow" width="587" height="587">
        </div>
        <picture class="background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-phone.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-phone.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-phone.jpg" alt="group at a table" width="950" height="720">
        </picture>
    </div>
</section>