<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="about-hero">
    <div class="container">
        <div class="image-group">
            <picture class="background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg" alt="people" width="605868" height="690">
            </picture>
            {# <div class="box">
                <img class="box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                <span class="desc">
                    Guarantee 90+ PageSpeed
                </span>
            </div> #}
        </div>
        <div class="content">
            {# <span class="topper">WHy choose us</span> #}
            <h2 class="title">Experience Excellence with North Melbourne Web Design</h2>
            <p class="text">
                Choosing North Melbourne Web Design means partnering with experts dedicated to your success. We provide bespoke designs, custom development, and comprehensive maintenance, ensuring your website stands out and performs flawlessly. Experience the difference with us.
            </p>
            <ul class="card-group">
                <li class="item">
                    <h3 class="h3">
                        <img class="h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Green Pagespeed Guarantee
                    </h3>
                    <p class="item-text">
                        Experience perfection with our Green Pagespeed Guarantee, ensuring your site stays blazing fast with a 90+ Performance Score.
                    </p>
                </li>
                <li class="item">
                    <h3 class="h3">
                        <img class="h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        No Hidden Fees
                    </h3>
                    <p class="item-text">
                        Budget more efficiently with our all-inclusive website packages, that includes everything you need, without any hidden fees.
                    </p>
                </li>
            </ul>
            <ul class="ul">
                <li class="li">
                    <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Custom coded website, tested on all devices
                </li>
                <li class="li">
                    <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Unlimited website updates, support, and maintenance
                </li>
                <li class="li">
                    <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Domain, hosting, and business email included
                </li>
                <li class="li">
                    <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Google Business Profile and Google Maps listing
                </li>
            </ul>
            <a href="/pricing" class="button-solid">View Our Pricing</a>
        </div>
    </div>
    <div class="bubbles" aria-hidden="true"></div>
</section>