<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-359">
    <div class="cs-container">
        <!--Left Section-->
        <div class="cs-content">
            {# <span class="cs-topper">Who We Are</span> #}
            <h2 class="cs-title">What's In It For You?</h2>
            <p class="cs-text">
                When you leave it to the experts, you'll see your online presence reach new heights. Everything you need is included, without the scary upfront cost or hidden fees. There's a fresh approach to having a website, and we're inviting you along for the journey.
            </p>
            <!--Image of cleaners-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaners.jpg" alt="cleaners" width="275" height="132">
            </picture>
        </div>
        <!--Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/person-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Unlimited Edits & Hosting</h3>
                    <p class="cs-item-text">
                        No paying a ridiculous hourly fee for a simple text change - all edits to existing content are included. Your website will be held high, with hosting fully managed by us on our global network, ensuring you are online 24/7.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/hand-blue.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Optimized Performance & Mobile First</h3>
                    <p class="cs-item-text">
                        Enjoy blazing fast loading times with our Green Pagespeed Guarantee, ensuring happier customers and better search rankings. Plus, we prioritize mobile users to enhance their experience, as most web traffic comes from mobile devices.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/stars-thumbs.svg" alt="icon" width="48" height="48">
                    <!--Create a span to make more bubbles with pesudo elements-->
                    <span class="cs-bubble" aria-hidden="true"></span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Google Business Setup & Maps Listing</h3>
                    <p class="cs-item-text">
                        Enhance your credibility and make it easy for customers to find you with a Google Maps listing. This service includes setting up and optimizing your business profile, providing essential details like your hours, contact information, and customer reviews. 
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>