<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="about-services">
    <div class="container">
        <div class="content">
            {# <span class="topper">Services</span> #}
            <h2 class="title">What's In It For You?</h2>
            <p class="text">
                When you leave it to the experts, you'll see your online presence reach new heights. Everything you need is included, without the scary upfront cost or hidden fees. There's a fresh approach to having a website, and we're inviting you along for the journey.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <img class="icon" src="/assets/svgs/site-alt.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Web Design & Development
</h3>
                <p class="item-text">
                    Stand out and have a bespoke website that you can be proud of.
                </p>
            </li>
            <li class="item">
                <img class="icon" src="/assets/svgs/pen-nib.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Unlimited Edits</h3>
                <p class="item-text">
                    No paying a ridiculous hourly fee for a simple text change - all edits to existing content are included.
                </p>
            </li>
            <li class="item">
                <img class="icon" src="/assets/svgs/database.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Hosting</h3>
                <p class="item-text">
                    Your website will be held high, with hosting fully managed by us on our global network, ensuring you are online 24/7.
                </p>
            </li>
            <li class="item">
                <img class="icon" src="/assets/svgs/internet-speed-wifi.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Green Pagespeed Guarantee</h3>
                <p class="item-text">
                    Speed is of the essence - our sites ensure fast loading times and happier customers.
                </p>
            </li>
            <li class="item">
                <img class="icon" src="/assets/svgs/smartphone.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Mobile First
</h3>
                <p class="item-text">
                    The majority of web traffic comes from a mobile. We put these users in the front seat.
                </p>
            </li>
            <li class="item">
                <img class="icon" src="/assets/svgs/marker.svg" alt="icon" width="61" height="58" loading="lazy" decoding="async" aria-hidden="true">
                <h3 class="h3">Google Business Setup & Maps Listing
</h3>
                <p class="item-text">
                    Enhance your credibility and direct users to your location with a Google Maps listing included. 
                </p>
            </li>
        </ul>
    </div>
</section>