<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="about-stats">
    <div class="container">
        <ul class="card-group">
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">100+</span>
                <span class="desc">Landscape Renovations Completed</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">100%</span>
                <span class="desc">Guaranteed Customer Satisfaction</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">5/5</span>
                <span class="desc">From 34 Google Ratings</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">5/5</span>
                <span class="desc">From 34 Google Ratings</span>
            </li>
        </ul>
    </div>
</section>