<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="about-stats">
    <div class="container">
        <ul class="card-group">
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">0.05s</span>
                <span class="desc">is how long people spend forming an opinion about your website.</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">47%</span>
                <span class="desc">of people won't wait longer than 2s for your website to load.</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">88%</span>
                <span class="desc">of people won't return to your site after a bad experience.</span>
            </li>
            <li class="item">
                <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="number">54%</span>
                <span class="desc">of web traffic comes from a mobile device.</span>
            </li>
        </ul>
    </div>
</section>