<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="about-steps">
    {# <picture class="background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <img loading="lazy" decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg"
                alt="busines meeting" width="522" height="609" aria-hidden="true">
    </picture> #}
    <div class="container">
        <div class="wrapper">
            <div class="content">
                {# <span class="topper">Our Steps</span> #}
                <h2 class="title">Out Process</h2>
            </div>
            <ul class="card-group">
                <li class="item">
                    <span class="number">01</span>
                    <div class="flex">
                        <h3 class="h3">Consultation</h3>
                        <p class="item-text">
                            Begin with a conversation with one of our team who will provide feedback on your current website and understand your objectives for the new one.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">02</span>
                    <div class="flex">
                        <h3 class="h3">Design</h3>
                        <p class="item-text">
                            Our website designers will then craft an example website specifically for your small business, tailored to meet your objectives
                    </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">03</span>
                    <div class="flex">
                        <h3 class="h3">Development</h3>
                        <p class="item-text">
                            We will create your website using fully custom code, ensuring optimal performance and giving your visitors the perfect view of your business.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">04</span>
                    <div class="flex">
                        <h3 class="h3">Maintenance</h3>
                        <p class="item-text">
                            Leave everything to us. We will manage all changes, updates, and maintenance, ensuring your website remains up-to-date and fully functional.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>