<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="about-steps">
    <picture class="background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <img loading="lazy" decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg"
                alt="busines meeting" width="522" height="609" aria-hidden="true">
    </picture>
    <div class="container">
        <div class="wrapper">
            <div class="content">
                <span class="topper">Our Steps</span>
                <h2 class="title">How To Get Started</h2>
            </div>
            <ul class="card-group">
                <li class="item">
                    <span class="number">01</span>
                    <div class="flex">
                        <h3 class="h3">Connect With Us</h3>
                        <p class="item-text">
                            We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">02</span>
                    <div class="flex">
                        <h3 class="h3">Make A schedule</h3>
                        <p class="item-text">
                            Fortune 500 companies to smaller and medium-sized companies to help manage risks to as low as reasonably practical.
                    </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">03</span>
                    <div class="flex">
                        <h3 class="h3">Describe Your Problem</h3>
                        <p class="item-text">
                            Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <span class="number">04</span>
                    <div class="flex">
                        <h3 class="h3">Get Expert Consultation</h3>
                        <p class="item-text">
                            Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>