<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
    <div class="container">
        <div class="content">
            {# <span class="topper">Consultation</span> #}
            <h2 class="title">Our process</h2>
        </div>
        <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
        <div class="card-group">
            <div class="group1">
                <div class="item">
                    <picture class="picture">
                        <img class="icon" loading="lazy" decoding="async"
                            src="/assets/svgs/message-bubble-2.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="h3">Consultation</h3>
                    <p class="item-text">
                        Discuss feedback on your current site and objectives for the new one.
                    </p>
                </div>
                <div class="item">
                    <picture class="picture">
                        <img class="icon" loading="lazy" decoding="async"
                            src="/assets/svgs/hashtag.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="h3">Development</h3>
                    <p class="item-text">
                        We will create a custom-coded website for optimal performance.
                    </p>
                </div>
                <div class="item">
                    <picture class="picture">
                        <img class="icon" loading="lazy" decoding="async"
                            src="/assets/svgs/layers-3.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="h3">Maintenance</h3>
                    <p class="item-text">
                        Leave everything to us. We manage updates and ensure your site remains fully functional.
                    </p>
                </div>
            </div>
            <div class="group2">
                <div class="item">
                    <picture class="picture">
                        <img class="icon" loading="lazy" decoding="async"
                            src="/assets/svgs/search.svg" alt="icon"
                            width="48" height="48"/>
                    </picture>
                    <h3 class="h3">Planning</h3>
                    <p class="item-text">
                        We will outline site structure, features, and user experience strategy.
                    </p>
                </div>
                <div class="item">
                    <picture class="picture">
                        <img class="icon" loading="lazy" decoding="async"
                            src="/assets/svgs/layout.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="h3">Design</h3>
                    <p class="item-text">
                        Our website designers will then design a website specifically for your business.
                    </p>
                </div>
            </div>
            <picture class="waves">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="/assets/svgs/step-wave-tablet.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="/assets/svgs/step-wave-desktop.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/step-wave-desktop.svg" alt="wave" width="1280" height="568">
            </picture>
        </div>
    </div>
</section>