<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-1643">
    <div class="cs-container">
        <div class="cs-content">
            {# <span class="cs-topper">Statistics</span> #}
            <h2 class="cs-title">Why Do We Care So Much? The Numbers Don't Lie...</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <!--Red Quote-->
            <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
            <p class="cs-text">
                There are a myriad of reasons why you should care about your website, as shown below. Page builders provide an elementary solution to an otherwise vital asset of your business. On top of that, you have to manage it yourself. Here's what we do:
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">01</span>
                        <h3 class="cs-h3">
                            Custom Coded Approach
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        At Test Valley Digital, we care too much. Our approach gets around the performance and accessibility issues that are introduced by other platforms. Every line of code results in a beautiful website delievered to your customers and created by a team of world-class developers.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">02</span>
                        <h3 class="cs-h3">
                            Unlimited Edits
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        No more fighting inintuitive interfaces and wasting your valuable time. You've got a business to run! We are just an email or phone call away to do the heavy lifting for you.
                    </p>
                </li>
            </ul>
            <ul class="cs-stats">
                <li class="cs-stat stat1">
                    <span class="cs-number">0.05s</span>
                    <span class="cs-desc">...is how long people spend forming an opinion about your website.</span>
                </li>
                <li class="cs-stat stat2">
                    <span class="cs-number">47%</span>
                    <span class="cs-desc">...people won't wait longer than 2s for your website to load.</span>
                </li>
                <li class="cs-stat stat3">
                    <span class="cs-number">88%</span>
                    <span class="cs-desc">...people won't return to your site after a bad experience.</span>
                </li>
                <li class="cs-stat stat4">
                    <span class="cs-number">54%</span>
                    <span class="cs-desc">...web traffic comes from mobile devices.</span>
                </li>
            </ul>
        </div>
    </div>
</section>