<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="about">
  <div class="container">
    <picture class="picture picture1">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/front/front-intro1.jpg"
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/front/front-intro1.jpg"
      />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/front/front-intro1.jpg"
        alt="meeting"
        width="305"
        height="339"
      />
    </picture>
    <div class="content">
      <span class="topper">About Us</span>
      <h2 class="title">Your Partner in Digital Success</h2>
      <h3 class="h3">
        We’re committed to delivering the best digital marketing for businesses
      </h3>
      <p class="text">
        At North Melbourne Web, we pride ourselves on delivering exceptional
        customer service and top-tier digital marketing solutions. Our mission
        is to help businesses thrive online with personalized, hand-coded
        websites that stand out.
      </p>
      {#
      <p class="text">
        We believe in a customer-first approach, ensuring that your business
        goals are at the forefront of every project. With our expertise in web
        design and development, we transform your vision into a powerful online
        presence.
      </p>
      #}
      <a href="/#services" class="button-solid">Our Services</a>
    </div>
    <picture class="picture picture2">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/front/front-intro2.jpg"
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/front/front-intro2.jpg"
      />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/front/front-intro2.jpg"
        alt="meeting"
        width="305"
        height="339"
      />
    </picture>
  </div>
  <div class="bubbles" aria-hidden="true"></div>
</section>
