<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1357">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/front/front-intro1.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/front/front-intro1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/front/front-intro1.jpg" alt="meeting" width="305" height="339">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Company</span>
            <h2 class="cs-title">We're delighted to provide excellent customer service</h2>
            <h3 class="cs-h3">
                We’re committed to delivering the best digital 
                marketing for businesses
            </h3>
            <p class="cs-text">
                There are many variations of passages of Lorem Ipsumavailable, but the majority have suffered alteration in someform, simply free text by injected humour, or randomised.
            </p>
            <a href="" class="cs-button-solid">Discover More</a>
        </div>
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/front/front-intro2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/front/front-intro2.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/front/front-intro2.jpg" alt="meeting" width="305" height="339">
        </picture>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>