<section class="about-section-4 pt-130 pb-130">
  <div class="shape">
    <img src="/assets/images/shapes/about-shape-3.png" alt="web design shape" />
  </div>
  <div class="container">
    <div class="row gy-lg-0 gy-4 align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-img-wrap-4">
          <div class="about-img img-1 reveal">
            <img
              src="/assets/images/front/about2.jpg"
              alt="about north melbourne web"
            />
          </div>
          <div class="about-img img-2 reveal">
            <img
              src="/assets/images/front/about1.jpg"
              alt="about north melbourne web"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content-4">
          <div class="section-heading heading-3 mb-0">
            <h4
              class="sub-heading after-none"
              data-text-animation="fade-in"
              data-duration="1.5"
            >
              About Our Company
            </h4>
            <h2
              class="section-title t-up"
              data-text-animation
              data-split="word"
              data-duration="1"
            >
              We want to bring your business and the digital world together
            </h2>
            <p>
              At North Melbourne Web, our goal is simple: to connect your
              business with the digital world in a meaningful way. We focus on
              understanding your unique needs and delivering web solutions that
              not only look great but also work hard for your business. Let’s
              team up to build a strong online presence that helps your business
              grow.
            </p>
          </div>
          {#
          <div class="about-counter-wrap">
            <div class="about-counter">
              <div class="icon">
                <img src="/assets/images/icon/about-3.png" alt="icon" />
              </div>
              <div class="content">
                <h3 class="title">
                  <span class="odometer" data-count="25">0</span>+
                </h3>
                <p>Years on the market</p>
              </div>
            </div>
            <div class="about-counter">
              <div class="icon">
                <img src="/assets/images/icon/about-4.png" alt="icon" />
              </div>
              <div class="content">
                <h3 class="title">
                  <span class="odometer" data-count="375">0</span>+
                </h3>
                <p>Projects delivered so far</p>
              </div>
            </div>
          </div>
          #}
          <a href="about.html" class="rr-primary-btn"
            >Get Started Now <i class="fa-sharp fa-regular fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ about-section -->
