<section id="appointment" class="appointment-section pb-130">
  <div class="container">
    <div class="row appointment-wrap align-items-center">
      <div class="col-lg-5">
        <div class="appointment-img">
          <img
            src="/assets/images/front/appointment.jpg"
            alt="appointment with north melbourne web"
/>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="appointment-content">
          <div class="section-heading heading-3">
            <h4
              class="sub-heading after-none"
              {# data-text-animation="fade-in"
              data-duration="1.5" #}
            >
              Make An Appointment
            </h4>
            <h2
              class="section-title"
              {# data-text-animation
              data-split="word"
              data-duration="1" #}
            >
              Let’s Start A Discussion About Your Next Projects
            </h2>
          </div>
          <div class="appointment-form {#fade-wrapper#}">
            <form
              {#
              action="mail.php"
              method="post"
              #}
              name="appointment"
              method="POST"
              netlify
              id="ajax_contact"
              class="form-horizontal"
            >
              <div class="form-group row fade-top">
                <div class="col-md-6">
                  <input
                    type="text"
                    id="fullname"
                    name="fullname"
                    class="form-control"
                    placeholder="Your Name*"
/>
                </div>
                <div class="col-md-6">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Your Email*"
/>
                </div>
              </div>
              <div class="form-group row {#fade-top#}">
                <div class="col-md-12">
                  <input
                    type="text"
                    id="website"
                    name="website"
                    class="form-control"
                    placeholder="Website URL*"
/>
                </div>
              </div>
              <div class="form-group row {#fade-top#}">
                <div class="col-md-12">
                  <textarea
                    id="message"
                    name="message"
                    cols="30"
                    rows="5"
                    class="form-control address"
                    placeholder="Type Comment*"
                  ></textarea>
                </div>
              </div>
              <div class="submit-btn">
                <button id="submit" class="rr-primary-btn" type="submit">
                  Get in Touch
                  <i class="fa-sharp fa-regular fa-arrow-right"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ appointment-section -->