<section class="counter-section counter-2">
  <div class="container">
    <div class="row gy-lg-0 gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="counter-item">
          <h3 class="title"><span class="odometer" data-count="10">0</span></h3>
          <p>Years of <br />Experience</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-item">
          <h3 class="title"><span class="odometer" data-count="18">0</span></h3>
          <p>
            Sillded <br />
            Perforamce
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-item">
          <h3 class="title"><span class="odometer" data-count="32">0</span></h3>
          <p>
            Visited <br />
            Conference
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-item">
          <h3 class="title"><span class="odometer" data-count="1">0</span>k</h3>
          <p>Years of <br />Experience</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ counter-section -->
