<div id="cs-wrapper-1411">
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1411">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
            </div>
            <div class="cs-flex">
                <picture class="cs-picture">
                    <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review-profile.jpg" decoding="async" alt="profile" width="160" height="160" aria-hidden="true">
                </picture>
                <div class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                    <p class="cs-item-text">
                        When you think about collecting customer feed back, it’s easy to get overwhelmed by the sheer volume of . With so many more customers and so many ways to connect with their feedback it’s hard to know to where to start.
                    </p>
                    <div class="cs-flex-group">
                        <span class="cs-name">
                            Jessica Jonson
                            <span class="cs-job">CTO Of Meriette</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-1411">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Asked questions</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Can I change where I want my donation to go?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Where does my transaction processing fee go?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I receive a refund?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Is my credit card information secure?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/black-leaves.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/black-leaves.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/black-leaves.jpg" alt="leaves" width="1280" height="568">
        </picture>
    </section>
</div>