<div id="wrapper">
  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews">
    <div class="container">
      <div class="content">
        {# <span class="topper">Who We Are</span> #}
        <h2 class="title">Who We Are</h2>
      </div>
      <div class="flex">
        <picture class="picture">
          <img
            loading="lazy"
            class="profile"
            src="/assets/images/front/alan-avatar.jpeg"
            decoding="async"
            alt="profile"
            width="160"
            height="160"
            aria-hidden="true"
/>
        </picture>
        <div class="item">
          <!--Blue Quote-->
          <img
            class="quote"
            aria-hidden="true"
            src="/assets/svgs/quote.svg"
            decoding="async"
            alt="quote icon"
            width="120"
            height="99"
/>
          <p class="item-text">
            My name is Alan, I am a Computer Science student. I started this business to support my studies while balancing my education and other work commitments. I had 3 years working with AI and spent half a year teaching myself the right way to design and make websites.
          </p>
          <div class="flex-group">
            <span class="name">
              Alan Huynh
              <span class="job">Owner/Developer</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bubbles" aria-hidden="true"></div>
  </section>

  <!-- ============================================ -->
  <!--                     FAQ                      -->
  <!-- ============================================ -->

  <section id="faq">
    <div class="container">
      <div class="content">
        <span class="topper">Have Questions?</span>
        <h2 class="title">Frequently Asked Questions</h2>
        <ul class="faq-group">
          <!-- Active class added as default -->
          <li class="faq-item active">
            <button class="button">
              <span class="button-text">
                Can I update my website after it’s launched?
              </span>
            </button>
            <p class="item-p">
              Yes, you can request updates at any time. With our unlimited edit
              policy, we’ll make the changes you need quickly and efficiently,
              often on the same day.
            </p>
            <p></p>
          </li>

          <li class="faq-item">
            <button class="button">
              <span class="button-text">
                What does the monthly fee cover?
              </span>
            </button>
            <p class="item-p">
              The monthly fee covers website hosting, maintenance, and updates.
              This ensures your site remains secure, performs optimally, and is
              always up-to-date with the latest features.
            </p>
          </li>
          <li class="faq-item">
            <button class="button">
              <span class="button-text">
                Will my website be optimized for search engines?
              </span>
            </button>
            <p class="item-p">
              Yes, we ensure that your website is SEO-friendly with features
              like fast loading speeds and copywriting, helping you achieve
              better search rankings.
            </p>
          </li>
          <li class="faq-item">
            <button class="button">
              <span class="button-text">
                Why should I choose your service over WordPress or Wix?
              </span>
            </button>
            <p class="item-p">
              Unlike WordPress or Wix, we provide 100% hand-coded websites
              tailored specifically to your business needs. This ensures
              superior performance, better security, and more customization than
              template-based platforms. Additionally, our websites are optimized
              for speed and offer greater flexibility in design and
              functionality.
            </p>
          </li>
          <li class="faq-item">
            <button class="button">
              <span class="button-text"> What is PageSpeed? </span>
            </button>
            <p class="item-p">
              PageSpeed refers to the speed at which your website loads. A
              higher PageSpeed score means your site loads faster, which
              improves user experience and can boost your search engine
              rankings. We ensure our websites achieve a score of 90+ to
              maximize performance and user engagement.
            </p>
          </li>
          <li class="faq-item">
            <button class="button">
              <span class="button-text"> Why are there no upfront costs? </span>
            </button>
            <p class="item-p">
              We offer no upfront costs to make high-quality web design
              accessible to all businesses. Instead, we spread the cost over a
              monthly fee, making it easier for you to manage your budget while
              still receiving top-notch service and support.
            </p>
          </li>
          <li class="faq-item">
            <button class="button">
              <span class="button-text">
                What makes your design process different?
              </span>
            </button>
            <p class="item-p">
              Our design process is unique because we focus on 100% hand-coding
              to ensure maximum performance and customization. Unlike
              template-based systems, our approach guarantees a website that is
              fully tailored to your brand, optimized for speed, and scalable to
              meet your future needs.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <picture class="background">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/front/front-faq-m.jpg"
/>
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/front/front-faq.jpg"
/>
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/front/front-faq.jpg"
        alt="black background"
        width="1280"
        height="568"
/>
    </picture>
  </section>
</div>