<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome To Stitch Agency</span>
            <h1 class="cs-title">Small Business Web Design & Development</h1>
            <p class="cs-text">
                No page builders or WordPress - We offer superior 100% hand-coded websites with starting at $150/mo.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">
        <source media="(min-width: 601px)" srcset="https://images.pexels.com/photos/3626248/pexels-photo-3626248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <img decoding="async" src="https://images.pexels.com/photos/3626248/pexels-photo-3626248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>