<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="container">
    <div class="content">
      <span class="topper">Welcome To North Melbourne Web</span>
      <h1 class="title">
        Professional Web Design & Development for Small Businesses
      </h1>
      <p class="text">
        Get a custom, hand-coded website starting at just A$199/month. No page
        builders or WordPress - just clean, professional design.
      </p>
      <a href="" class="button-solid">Get Started</a>
    </div>
  </div>
  <!--Bubble Groups-->
  <div class="bubbles bubbles1" aria-hidden="true"></div>
  <div class="bubbles bubbles2" aria-hidden="true"></div>
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
  <picture class="background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/front/landing-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/front/landing.jpg"
    />
    <img
      decoding="async"
      src="/assets/images/front/landing.jpg"
      alt="Melbourne City Background"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services">
  <ul class="card-group">
    <li class="item">
      <picture class="icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/db-row-height.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="title">Web Design</h2>
      <p class="text">
        Create designs that reflect and enhance your brand identity.
      </p>
    </li>
    <li class="item">
      <picture class="icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/com-laptop-code.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="title">Web Development</h2>
      <p class="text">
        Build blazing fast website optimized for high conversion.
      </p>
    </li>
    <li class="item">
      <picture class="icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/cld-cloud-computer-network.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="title">SEO Solutions</h2>
      <p class="text">Increase your visibility and attract more customers.</p>
    </li>
  </ul>
</section>
