<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome To North Melbourne Web</span>
            <h1 class="cs-title">Professional Web Design & Development for Small Businesses</h1>
            <p class="cs-text">
                Experience superior, 100% hand-coded websites starting at just A$99/month. No page builders. No WordPress.
            </p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/front/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/front/landing.jpg">
        <img decoding="async" src="/assets/images/front/landing.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>