<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing">
  <div class="container">
    <div class="content">
      <span class="topper">Pricing</span>
      <h2 class="title">Transparent Pricing Options for Your Website</h2>
      <p class="text">
        We believe in transparent pricing for your website project. Choose from
        our flexible packages to meet your specific needs and budget.
      </p>
      <div class="toggle-group">
        <span id="option1" class="plan">Monthly</span>
        <div class="toggle" aria-label="click to switch plans pricing">
          <span aria-hidden="true" class="toggle-switch"></span>
        </div>
        <span id="option2" class="plan">Lump Sum</span>
      </div>
    </div>
    <div class="ul-wrapper">
      <ul class="card-group option1">
        <li class="item">
          <span class="popular-tag">Recommended</span>
          <picture class="picture">
            <img
              class="picture-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/badge.svg"
              alt="checkmark"
              width="44"
              height="44"
            />
          </picture>
          <span class="package">Business</span>
          <span class="price">
            A$99
            <span class="duration">/month</span>
          </span>
          <p class="item-text">
            Enhanced features and support for growing businesses.
          </p>
          <ul class="ul">
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              5-Page Custom Coded Website
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Hosting, Domain, and SSL certificate *
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              24/7 Support and Redesign Every 3 Years
            </li>
          </ul>
          <a href="/pricing/#pricing-table" class="button-transparent"
            >More Detail</a
          >
        </li>
        <li class="item popular">
          <span class="popular-tag">Recommended</span>
          <picture class="picture">
            <img
              class="picture-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/walking.svg"
              alt="checkmark"
              width="44"
              height="44"
            />
          </picture>
          <span class="package">Business Plus</span>
          <span class="price">
            A$179
            <span class="duration">/month</span>
          </span>
          <p class="item-text">
            Affordable monthly payment for small business websites.
          </p>
          <ul class="ul">
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              9-Page Custom Coded Website w/ CMS
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Hosting, Premium Domain, and SSL certification *
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              24/7 Support and Redesign Every 2 Years
            </li>
          </ul>
          <a href="/pricing/#pricing-table" class="button-transparent"
            >More Detail</a
          >
        </li>
      </ul>
      <ul class="card-group option2">
        <li class="item popular">
          <span class="popular-tag">Popular</span>
          <picture class="picture">
            <img
              class="picture-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/walking.svg"
              alt="checkmark"
              width="44"
              height="44"
            />
          </picture>
          <span class="package">Standard</span>
          <span class="price">
            A$2000 {# <span class="duration">/month</span> #}</span
          >
          <p class="item-text">
            One-time payment for a complete standard 5-page website.
          </p>
          <ul class="ul">
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              5-Page Custom Coded Website
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Mobile-First, Responsive Design
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Contact Form Integration
            </li>
          </ul>
          <a href="/pricing/#pricing-table" class="button-transparent"
            >More Detail</a
          >
        </li>
        <li class="item">
          <span class="popular-tag">Recommended</span>
          <picture class="picture">
            <img
              class="picture-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/badge.svg"
              alt="checkmark"
              width="44"
              height="44"
            />
          </picture>
          <span class="package">E-Commerce</span>
          <span class="price">
            A$5000 {# <span class="duration">/month</span> #}</span
          >
          <p class="item-text">
            One-time payment for a fully functional e-commerce website.
          </p>
          <ul class="ul">
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              9-Page Custom Coded Website
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Mobile-First, Responsive Design
            </li>
            <li class="li">
              <img
                class="icon"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/round-check.svg"
                alt="checkmark"
                width="18"
                height="18"
              />
              Full E-Commerce Capability w/ CMS
            </li>
          </ul>
          <a href="/pricing/#pricing-table" class="button-transparent"
            >More Detail</a
          >
        </li>
      </ul>
    </div>
    <picture class="waves-wrapper">
      <img
        class="waves"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/svg-waves.svg"
        alt="waves"
        width="743"
        height="708"
      />
    </picture>
  </div>
</section>
