<section class="project-section pt-130 overflow-hidden" id="portfolio">
  <div class="container">
    <div class="project-top heading-space">
      <div class="section-heading heading-3 mb-0">
        <h4
          class="sub-heading after-none"
          data-text-animation="fade-in"
          data-duration="1.5"
        >
          Recent Works Gallery
        </h4>
        <h2
          class="section-title"
          data-text-animation
          data-split="word"
          data-duration="1"
        >
          our recent project gallery
        </h2>
      </div>
      <div
        class="swiper-pagination-wrap wow fade-in-bottom"
        data-wow-delay="600ms"
      >
        <div class="swiper-arrow">
          <div class="swiper-nav swiper-next">
            <i class="fa-regular fa-arrow-left"></i>
          </div>
          <div class="swiper-nav swiper-prev">
            <i class="fa-regular fa-arrow-right"></i>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="project-carousel swiper">
          <div class="swiper-wrapper">
            {% for project in projects %}
            <div class="swiper-slide">
              <div class="project-box">
                <div class="project-thumb">
                  <div class="shape"></div>
                  <img
                    src="{{ project.imageUrl }}"
                    alt="north melbourne web project"
                  />
                </div>
                <a href="{{ project.detailsUrl }}" class="project-btn">
                  <i class="fa-light fa-arrow-right-long"></i>
                </a>
                <div class="project-content">
                  <span>{{ project.category }}</span>
                  <h3 class="title">
                    <a href="{{ project.detailsUrl }}">{{ project.title }}</a>
                  </h3>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ project-section -->
