<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="services">
  <div class="container">
    <div class="content">
      <span class="topper">Why Choose Us</span>
      <h2 class="title">A$0 Down, A$199 Per Month, 12 Month Minimum Contract</h2>
      <p class="text">
        Get a standard 5-page small business website with no upfront cost. For
        larger projects, we offer custom pricing based on the scope, additional
        pages, and time required.
      </p>
      <p class="text">
        You own your domain, content, listing, and profiles. Cancel anytime with
        no fees or hassle.
      </p>
    </div>
    <ul class="card-group">
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/database.svg"
            alt="icon"
            width="24"
            height="24"
/>
          Hosting Fees Included
        </h3>
        <p class="item-text">
          Hosting fees are built right into the monthly payment.
        </p>
      </li>
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/headset.svg"
            alt="icon"
            width="24"
            height="24"
/>
          24/7 Customer Service
        </h3>
        <p class="item-text">
          Reach us anytime, day or night, with direct calls—no automated
          responses.
        </p>
      </li>
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/tachometer-alt-fastest.svg"
            alt="icon"
            width="24"
            height="24"
/>
          Perfect Google Speed
        </h3>
        <p class="item-text">
          We guarantee to achieve 90+ Google Page Speed scores and boost your
          search ranking.
        </p>
      </li>
      <li class="item-picture">
        <picture class="picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/front/front-services.jpg"
/>
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/front/front-services.jpg"
/>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/front/front-services.jpg"
            alt="people"
            width="590"
            height="418"
/>
        </picture>
      </li>
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/edit.svg"
            alt="icon"
            width="24"
            height="24"
/>
          Unlimited Edits
        </h3>
        <p class="item-text">
          Make unlimited changes, and we'll update your site the same day.
        </p>
      </li>
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/browser.svg"
            alt="icon"
            width="24"
            height="24"
/>
          Web Design & Development
        </h3>
        <p class="item-text">
          Over 40 hours of dedicated design, development, and testing included.
        </p>
      </li>
      <li class="item">
        <h3 class="h3">
          <img
            class="h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/chart-histogram.svg"
            alt="icon"
            width="24"
            height="24"
/>
          Google Analytics
        </h3>
        <p class="item-text">
          Free installation to monitor traffic and understand your audience.
        </p>
      </li>
    </ul>
    <a href="/pricing/#pricing-table" class="button-solid">Discover More</a>
  </div>
  {#
  <div class="bubbles bubbles1" aria-hidden="true"></div>
  #}
  <div class="bubbles bubbles2" aria-hidden="true"></div>
</section>