<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">$0 Down, $150 Per Month, 12 Month Minimum Contract</h2>
            <p class="cs-text">
                $0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved.
            </p>
            <p class="cs-text">
                <strong>You own your domain, content, listing, and profiles. Cancel anytime with no fees or hassle.</strong>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/database.svg" alt="icon" width="24" height="24">
                    Hosting Fees Included
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/headset.svg" alt="icon" width="24" height="24">
                    24/7 Customer Service
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tachometer-alt-fastest.svg" alt="icon" width="24" height="24">
                    Perfect Google Speed
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
            <li class="cs-item-picture">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/front/front-services.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/front/front-services.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/front/front-services.jpg" alt="people" width="590" height="418">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/edit.svg" alt="icon" width="24" height="24">
                    Unlimited Edits
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/browser.svg" alt="icon" width="24" height="24">
                    Web Design & Develop
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/chart-histogram.svg" alt="icon" width="24" height="24">
                    Google Analytics
                </h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam, repudiandae.
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Discover More</a>
    </div>
    {# <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div> #}
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>