<section id="sponsor" class="sponsor-section p-relative z-1 pb-130">
    <div class="container">
        <div class="sponsor-text text-center">
            <h4 class="title mb-50">WE WORKED WITH GLOBAL LARGEST BRANDS</h4>
        </div>
        <div class="sponsor-carousel-2 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-1.png" alt="sponsor"
/></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-2.png" alt="sponsor"
/></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-3.png" alt="sponsor"
/></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-4.png" alt="sponsor"
/></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-5.png" alt="sponsor"
/></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-item text-center">
                        <a href="#"
              ><img src="/assets/images/sponsor/sponsor-img-6.png" alt="sponsor"
/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ sponsor-section -->