<section class="about-section-5 pt-130 pb-130">
  <div class="container">
    <div class="row gy-lg-0 gy-4">
      <div class="col-lg-6">
        <div class="about-content-5">
          <div class="section-heading">
            <h4
              class="sub-heading after-none"
              data-text-animation="fade-in"
              data-duration="1.5"
            >
              About Company
            </h4>
            <h2
              class="section-title"
              data-text-animation
              data-split="word"
              data-duration="1"
            >
              Our Main Goal to Satisfied local & Global Clients
            </h2>
          </div>
          <div class="about-tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button
                  class="nav-link active"
                  id="nav-home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-home"
                  type="button"
                  role="tab"
                  aria-controls="nav-home"
                  aria-selected="true"
                >
                  Our Mission
                </button>
                <button
                  class="nav-link"
                  id="nav-profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-profile"
                  type="button"
                  role="tab"
                  aria-controls="nav-profile"
                  aria-selected="false"
                >
                  Our Vision
                </button>
                <button
                  class="nav-link"
                  id="nav-contact-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-contact"
                  type="button"
                  role="tab"
                  aria-controls="nav-contact"
                  aria-selected="false"
                >
                  Our Goal
                </button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-home"
                role="tabpanel"
                aria-labelledby="nav-home-tab"
              >
                <h3 class="title">Digital Web Design Agency</h3>
                <p class="mb-20">
                  A web design agency is a multifaceted entity that plays a
                  pivotal role in shaping the digital presence of businesses and
                  individuals alike. These agencies are dynamic hubs of
                  creativity, technical expertise, and strategic thinking.
                </p>
                <p class="mb-0">
                  At the core of a web design agency's essence lies the artistry
                  of visual storytelling and user experience creation.
                </p>
              </div>
              <div
                class="tab-pane fade"
                id="nav-profile"
                role="tabpanel"
                aria-labelledby="nav-profile-tab"
              >
                <h3 class="title">Digital Web Design Agency</h3>
                <p class="mb-20">
                  A web design agency is a multifaceted entity that plays a
                  pivotal role in shaping the digital presence of businesses and
                  individuals alike. These agencies are dynamic hubs of
                  creativity, technical expertise, and strategic thinking.
                </p>
                <p class="mb-0">
                  At the core of a web design agency's essence lies the artistry
                  of visual storytelling and user experience creation.
                </p>
              </div>
              <div
                class="tab-pane fade"
                id="nav-contact"
                role="tabpanel"
                aria-labelledby="nav-contact-tab"
              >
                <h3 class="title">Digital Web Design Agency</h3>
                <p class="mb-20">
                  A web design agency is a multifaceted entity that plays a
                  pivotal role in shaping the digital presence of businesses and
                  individuals alike. These agencies are dynamic hubs of
                  creativity, technical expertise, and strategic thinking.
                </p>
                <p class="mb-0">
                  At the core of a web design agency's essence lies the artistry
                  of visual storytelling and user experience creation.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-img-wrap-5">
          <div class="shapes">
            <div class="shape shape-1">
              <img src="/assets/images/shapes/about-shape-4.png" alt="shape" />
            </div>
            <div class="shape shape-2">
              <img src="/assets/images/shapes/about-shape-5.png" alt="shape" />
            </div>
          </div>
          <div class="about-img reveal">
            <img
              class="img-1"
              src="/assets/images/images/about-img-8.png"
              alt="img"
            />
          </div>
          <div class="about-img-2 reveal">
            <img
              class="img-2"
              src="/assets/images/images/about-img-9.png"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ about-section -->
