<section class="about-section-2 pt-130 pb-130">
  <div class="container">
    <div class="row about-wrap-2 gy-lg-0 gy-4 align-items-center">
      <div class="col-lg-5 col-md-12">
        <div class="about-img-box">
          <div class="shapes">
            <img
              class="shape shape-1"
              src="/assets/images/shapes/about-shape-1.png"
              alt="about north melbourne web"
/>
            <img
              class="shape shape-2"
              src="/assets/images/shapes/about-shape-2.png"
              alt="about north melbourne web"
/>
          </div>
          <div class="img-1 reveal">
            <img
              src="/assets/images/images/front-intro2.jpg"
              alt="about north melbourne web"
/>
          </div>
          <div class="img-2 reveal">
            <img
              src="/assets/images/images/front-intro1.jpg"
              alt="about north melbourne web"
/>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="about-content-2">
          <div class="section-heading">
            <h4
              class="sub-heading after-none"
              data-text-animation="fade-in"
              data-duration="1.5"
            >
              About North Mlebourne Web
            </h4>
            <h2
              class="section-title"
              data-text-animation
              data-split="word"
              data-duration="1"
            >
              We transform your online presence into a powerful customer magnet.
            </h2>
            <p>
              North Melbourne Web is your trusted partner for small business web
              development in Melbourne. We specialize in creating custom,
              high-performance websites that drive growth and success for
              Australian SMBs.
            </p>
          </div>
          <div class="about-items">
            <div class="about-item">
              <div class="icon">
                <img src="/assets/images/icon/about-1.png" alt="icon"/>
              </div>
              <div class="content">
                <h4 class="title">Innovative <br/>Web Solutions</h4>
              </div>
            </div>
            <div class="about-item">
              <div class="icon">
                <img src="/assets/images/icon/about-2.png" alt="icon"/>
              </div>
              <div class="content">
                <h4 class="title">Melbourne's Local <br/>Web Experts</h4>
              </div>
            </div>
          </div>
          <a href="/contact" class="rr-primary-btn"
            >Get Started Now <i class="fa-sharp fa-regular fa-arrow-right"></i
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ about-section -->