<section
  class="page-header"
  data-background="/assets/images/banner/about-banner.jpg"
>
  <div class="overlay"></div>
  <div class="shapes">
    <div class="shape shape-1">
      <img
        src="/assets/images/shapes/page-header-shape-1.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-2">
      <img
        src="/assets/images/shapes/page-header-shape-2.png"
        alt="web design shape"
      />
    </div>
    <div class="shape shape-3">
      <img
        src="/assets/images/shapes/page-header-shape-3.png"
        alt="web design shape"
      />
    </div>
  </div>
  <div class="container">
    <div class="page-header-content text-center">
      <h1 class="title">About Our Company</h1>
      <h4 class="sub-title">
        <a class="home" href="/">Home </a><span></span
        ><a class="inner-page" href="about.html"> About Us</a>
      </h4>
    </div>
  </div>
</section>
<!-- ./ page-header -->
