<section class="process-section-2 fade-wrapper pb-130">
  <div class="container">
    <div class="section-heading text-center">
      <span class="bg-text">Studio</span>
      <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">
        Our Work Process
      </h4>
      <h2
        class="section-title"
        data-text-animation
        data-split="word"
        data-duration="1"
      >
        Quality Service For Growth <br />Your Digital Success
      </h2>
    </div>
    <div class="row gy-lg-0 gy-4">
      <div class="col-lg-4 col-md-6">
        <div class="process-box fade-top">
          <span class="number">01</span>
          <h3 class="title">Discover</h3>
          <p>
            Understanding your unique business needs, goals, and challenges.
          </p>
          <a href="about.html" class="read-more"
            >Read More<i class="fa-sharp fa-regular fa-chevrons-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="process-box fade-top">
          <span class="number">02</span>
          <h3 class="title">Design</h3>
          <p>
            Creating a custom website design that reflects your brand and
            appeals to your target audience.
          </p>
          <a href="about.html" class="read-more"
            >Read More<i class="fa-sharp fa-regular fa-chevrons-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="process-box fade-top">
          <span class="number">03</span>
          <h3 class="title">Develop</h3>
          <p>
            Custom-coded a fully functional and responsive website using the
            latest technologies and best practices.
          </p>
          <a href="about.html" class="read-more"
            >Read More<i class="fa-sharp fa-regular fa-chevrons-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ process-section-2 -->
