<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="index-about">
    <div class="container">
        <picture class="picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/index/about-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/index/about.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/index/about.jpg" alt="room" width="494" height="700">
        </picture>
        <div class="content">
            {# <span class="topper">What We Do</span> #}
            <h2 class="title">Pioneering a New Era in Small Business Web Design</h2>
            <p class="text">
                Small businesses don't get the love they deserve. Gone are the days of being limited to WordPress or Wix websites that hurt your digital image - we're here to help.
            </p>
            <p class="text">
                At Test Valley Digital, we understand how your digital presence embodies your identity. We showcase our dedication, innovation, and commitment to digital excellence by doing website development the right way. Coupling intricate, custom coded solutions with limitless support and maintenance lead to our core idea: providing quality digital solutions to help small businesses grow.
            </p>
            <p class="text">
                Our clients are at the heart of everything we do. Where you see a struggle, we have a solution. Website not bringing you leads? Tired of extortionate fees every time you want to make a change? We've got you covered. No matter the industry you're in, no idea is too small, no challenge is too big - trust us and we will deliver.
            </p>
            <a href="" class="button-solid">Why Choose Us</a>
        </div>
    </div>
</section>