<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-708">
    <div class="container">
        <picture class="picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/index/faq-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/index/faq.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/index/faq.jpg" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="content">
            {# <span class="topper">Asked questions</span> #}
            <h2 class="title">Frequently Asked Questions</h2>
            <ul class="faq-group">
                <!-- Active class added as default -->
                <li class="faq-item active">
                    <button class="button">
                        <span class="button-text">
                            Why should I choose you? Could I not just build a WordPress or WiX website?
                        </span>
                    </button>
                    <p class="item-p">
                        You could - in the same way you could buy a suit off-the-rack instead of going to a tailor. While going for the suit off-the-rack may be quicker and cheaper, it will often require adjustments and, ultimately, compromises.

                        Instead, we take the "tailor-made" approach. We build a website that will be the perfect fit for your business, reflecting it's style and enhancing it's best features, all while making you feel confident and unique.
                    </p>
                </li>
                <li class="faq-item">
                    <button class="button">
                        <span class="button-text">
                            What is a "PageSpeed Score"?
                        </span>
                    </button>
                    <p class="item-p">
                        A Pagespeed score is a report on your website's performance, given by Google's Pagespeed tool. It grades how quickly your site loads and how efficiently it runs, on a scale from 0 to 100. The higher the score, the faster and more user-friendly your site is.

                        A top-notch Pagespeed Score means your visitors enjoy a seamless, speedy experience, which keeps them engaged and happy, while also helping your site climb higher in search results, leading to more opportunities and conversions. Why don't you give your website and our website a test and see how we compare?
                    </p>
                </li>
                <li class="faq-item">
                    <button class="button">
                        <span class="button-text">
                            How long should a house painting take?
                        </span>
                    </button>
                    <p class="item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="faq-item">
                    <button class="button">
                        <span class="button-text">
                            How much are house painting services?
                        </span>
                    </button>
                    <p class="item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="faq-item">
                    <button class="button">
                        <span class="button-text">
                            How much are house painting services?
                        </span>
                    </button>
                    <p class="item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <img class="graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fswoosh.svg" alt="swoosh" width="361" height="487" aria-hidden="true">
</section>