<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Stitch Mechanics Now Serving Designers & Developers</h1>
            <p class="cs-text">
                We are the premier Stitch Design Pack for mechanics and auto body websites of all varieties.
            </p>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>