<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="container">
        <div class="content">
            <h1 class="title">Stitch Mechanics Now Serving Designers & Developers</h1>
            <div class="text-button">
                <p class="text">
                    We are the premier Stitch Design Pack for mechanics and auto body websites of all varieties.
                </p>
                <a href="" class="button-solid">Request Appointment</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="background">
        <source media="(max-width: 600px)" srcset="/assets/images/index/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/index/landing.jpg">
        <img decoding="async" src="/assets/images/index/landing.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>