<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="index-intro">
    <div class="container">
        <div class="content">
            <div class="flex">
                {# <span class="topper">Our Services</span> #}
                <h2 class="title">Giving Small Businesses the Room to Dream Big</h2>
            </div>
            <p class="text">
                We handle the digital details so you don’t have to. Our custom-coded websites ensure lightning-fast load times, responsive designs, and world-class performance to help drive your business’s digital presence. You're the expert in your field, we’re the experts in ours, let’s connect and shape your future.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro1-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro1.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">One Monthly Fee, No Upfront Payment</h3>
                    <p class="item-text">
                        Get started on your digital journey with no initial fees, keeping your budget intact while you invest in what matters most.
                    </p>
                    <span class="fake-link">
                        View out Web Development Service
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro2-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro2.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Unlimited Support, Edits, and Maintenance</h3>
                    <p class="item-text">
                        Need to change an image? Add a new service that you're offering? Just drop us a message and we'll handle the rest.
                    </p>
                    <span class="fake-link">
                        Hosting, Domains, and Support
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro3-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro3.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Custom Coded with our Green Pagespeed Guarantee</h3>
                    <p class="item-text">
                        We'll build your website from scratch, reducing load times, maximising performance, propelling your business forward.
                    </p>
                    <span class="fake-link">
                        About Pagespeed
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro4-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro4.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">A Free Website Refresh Every 2-4 Years</h3>
                    <p class="item-text">
                        Times change and you need to adapt, so you'll get a free website redesign every few years to ensure yours statys fresh.
                    </p>
                    <span class="fake-link">
                        Our Design Process
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>