<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="container">
        <div class="content">
            <div class="flex">
                <span class="topper">Our Services</span>
                <h2 class="title">Grow Your Business with Our New Bold Agency</h2>
            </div>
            <p class="text">
                Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro1-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro1.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Process Safety & Risk Management</h3>
                    <p class="item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="fake-link">
                        Get Started
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro2-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro2.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Occupational Safety & Health</h3>
                    <p class="item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="fake-link">
                        Get Started
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro3-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro3.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Security Assessment and Planning</h3>
                    <p class="item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="fake-link">
                        Get Started
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="" class="link">
                    <picture class="picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/index/intro4-m.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/index/intro4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/index/intro4.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="h3">Security Assessment and Planning</h3>
                    <p class="item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="fake-link">
                        Get Started
                        <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>