<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-964">
    <div class="container">
        <!-- Left Content Section-->
        <div class="content">
            {# <span class="topper">Our Service</span> #}
            <h2 class="title">Experts in All Things Website</h2>
            <p class="text">
                From full-service website development to one-off creative projects - we have the capabilities to do it all.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Website Development</h3>
                <p class="item-text">
                    No more wondering why your WordPress or Wix website isn't bringing you customers - we build websites the right way, coupled with everything else you need to succeed.
                </p>
                <a href="" class="link">Our Website Packages</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service1.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Website Design</h3>
                <p class="item-text">
                    Premium website design without the lofty price tag. Stand out from the sea of cookie-cutter designs and reused templates with our bespoke creations.
                </p>
                <a href="" class="link">On-Brand Design</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service2.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Hosting, Domains, and Support</h3>
                <p class="item-text">
                    Think DNS stands for "Did Not Start"? We have you covered with hosting, domains, support, and a tailored business email address as standard with all our packages.
                </p>
                <a href="" class="link">Hosting</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service3.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Logos and Branding</h3>
                <p class="item-text">
                    The foundation of your image, both physical and digital, we create high quality logos and memorable branding to help you compete in the big leagues.
                </p>
                <a href="" class="link">Elevate Your Branding</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service4.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Copywriting</h3>
                <p class="item-text">
                    Engaging, SEO-charged content crafted by our master wordsmiths to help you reach the top of Google's search results.
                </p>
                <a href="" class="link">Engage Your Customer</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service5.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">E-Commerce</h3>
                <p class="item-text">
                    A fast-paced, fleeting market requires a website that can keep up. Choose us to manage your E-Commerce store, with the full treatment given.
                </p>
                <a href="" class="link">Let Us Help</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service6.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    {# <picture class="waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture> #}
</section>