<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-964">
    <div class="container">
        <!-- Left Content Section-->
        <div class="content">
            <span class="topper">Our Service</span>
            <h2 class="title">What We Provide To Our Customer</h2>
            <p class="text">
                Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Body Treatment</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service1.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Hair Care</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service2.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Make Up</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service3.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Nail Art</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service4.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Beauty Products</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service5.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="item">
                <picture class="icon-wrapper">
                    <img class="icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="h3">Spa Massage</h3>
                <p class="item-text">
                    Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve
                </p>
                <a href="" class="link">Read More</a>
                <!--Background Image-->
                <picture class="background">
                    <img loading="lazy" decoding="async" src="/assets/images/index/service6.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>