---
title: "North Melbourne Web | Small Business Web Development"
description: "Welcome to North Melbourne Web! We specialize in creating custom, hand-coded websites for small businesses that enhance performance, improve search rankings, and help your business grow..."
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on("init", (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on("login", () => {
                                document.location.href = "/admin/";
                            });
                    }
                });
        }
    </script>
    <script defer src="/assets/js/faq.js"></script>
    <script defer src="/assets/js/pricing.js"></script>
{% endblock %}
{% block body %}
    {% include 'components/front/hero.html' %}
    {% include 'components/front/intro.html' %}
    {% include
    'components/front/about.html' %}
    {% include 'components/front/services.html' %}
    {% include 'components/front/portfolio.html' %}
    {% include
    'components/front/faq.html' %}
    {% include 'components/front/pricing.html' %}
{% endblock %}