<section class="pricing-section-2 pt-130 pb-130">
  <div class="container">
    <div class="section-heading text-center">
      <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">
        Add-ons
      </h4>
      <h2
        class="section-title"
        data-text-animation
        data-split="word"
        data-duration="1"
      >
        Enhance Your Website
      </h2>
    </div>
    <div class="row gy-4">
      {% for addon in addons %}
      <div class="col-lg-4 col-md-6">
        <div class="pricing-item" style="width: 100%">
          <div class="pricing-head">
            <h3 class="package-name">{{ addon.name }}</h3>
            <h2 class="price">
              ${{ addon.price }}
              <span>{{ addon.unit }}</span>
            </h2>
          </div>
          <div class="pricing-body">
            <ul>
              {% if addon.features.length == 1 %}
              <p>{{ addon.features[0] | replace('\n', '<br />') | safe }}</p>
              {% else %} {% for feature in addon.features %}
              <li>{{ feature }}</li>
              {% endfor %} {% endif %}
            </ul>
          </div>

          <div class="pricing-footer pt-30">
            <a href="#appointment" class="rr-primary-btn">Contact Us</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
