<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-603">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">House Painting Service Packages</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-603" class="cs-plan">Option 1</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-603" class="cs-plan">Option 2</span>
            </div>
        </div>
        <ul class="cs-card-group cs-option1">
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$200</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$200</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$200</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
        </ul>
        <ul class="cs-card-group cs-option2">
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$100</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$100</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">Starter</span>
                    <span class="cs-price">$100</span>
                    <span class="cs-desc">Free Sign Up</span>
                </div>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Get Started</a>
            </li>
        </ul>
    </div>
</section>