<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-main">
    <div class="container">
        <div class="content">
            <span class="topper">Pricing</span>
            <h2 class="title">House Painting Service Packages</h2>
            <p class="text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="toggle-group">
                <span id="option1-603" class="plan">Option 1</span>
                <div class="toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="toggle-switch"></span>
                </div>
                <span id="option2-603" class="plan">Option 2</span>
            </div>
        </div>
        <ul class="card-group option1">
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$200</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$200</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$200</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
        </ul>
        <ul class="card-group option2">
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$100</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$100</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
            <li class="item">
                <div class="price-box">
                    <span class="package">Starter</span>
                    <span class="price">$100</span>
                    <span class="desc">Free Sign Up</span>
                </div>
                <p class="item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <span class="included">Whats Included?</span>
                <ul class="ul">
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                    <li class="li">
                        <img class="icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg" alt="checkmark" width="15" height="15">
                        Lorem ipsum dolor sit amet!
                    </li>
                </ul>
                <a href="" class="button-solid price-button">Get Started</a>
            </li>
        </ul>
    </div>
</section>