<section class="pricing-section pt-130 pb-130">
  <div class="container">
    <div class="section-heading heading-3 text-center">
      <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">
        Our Pricing Plans
      </h4>
      <h2
        class="section-title"
        data-text-animation
        data-split="word"
        data-duration="1"
      >
        Flexible Pricing for Every Business
      </h2>
    </div>
    <div class="pricing-tab wow fade-in-bottom" data-wow-delay="500ms">
      <nav class="nav-wrap">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Billed Monthly <span>Popular</span>
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            One-Off Payment
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="row gy-lg-0 gy-4 justify-content-center">
            {% for plan in pricing.monthly %}
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item">
                <h4 class="plan">{{ plan.plan }}</h4>
                <h2 class="price">{{ plan.price }} <span>/mo</span></h2>
                <span>{{ plan.description }}</span>
                <div class="pricing-btn-wrap">
                  <a href="/contact" class="rr-primary-btn pricing-btn"
                    >Get in Touch
                    <i class="fa-sharp fa-regular fa-arrow-right"></i>
                  </a>
                  <a href="/pricing" class="rr-primary-btn pricing-btn"
                    >View Details
                    <i class="fa-sharp fa-regular fa-arrow-right"></i>
                  </a>
                </div>
                <h3 class="feature">Features:</h3>
                <p>
                  {% for feature in plan.features %} &middot; {{ feature }}<br />
                  {% endfor %}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="row gy-lg-0 gy-4 justify-content-center">
            {% for plan in pricing.oneOff %}
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item">
                <h4 class="plan">{{ plan.plan }}</h4>
                <h2 class="price">{# <span>From </span> #}{{ plan.price }}</h2>
                <span>{{ plan.description }}</span>
                <div class="pricing-btn-wrap">
                  <a href="/contact" class="rr-primary-btn pricing-btn"
                    >Get in Touch
                    <i class="fa-sharp fa-regular fa-arrow-right"></i>
                  </a>
                  <a href="/pricing" class="rr-primary-btn pricing-btn"
                    >View Details
                    <i class="fa-sharp fa-regular fa-arrow-right"></i>
                  </a>
                </div>
                <h3 class="feature">Features:</h3>
                <p>
                  {% for feature in plan.features %} &middot; {{ feature }}<br />
                  {% endfor %}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ pricing-section -->
