<div class="running-text running-3">
  <div
    class="bg-img"
    data-background="/assets/images/front/running-text.jpg"
  ></div>
  <div class="carouselTicker carouselTicker-nav" data-speed="normal">
    <ul class="text-anim carouselTicker__list scroller__inner inner-3">
      <div class="running-text running-3">
        <div
          class="bg-img"
          data-background="/assets/images/front/running-text.jpg"
        ></div>
        <div class="carouselTicker carouselTicker-nav" data-speed="fast">
          <ul class="text-anim carouselTicker__list scroller__inner inner-3">
            {% for _ in range(4) %}
            <li>Add-ons</li>
            <li class="stroke-text">Pricing</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- ./ running-text -->
    </ul>
  </div>
</div>
