<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="pricing-table">
    <div class="container">
        <div class="content">
            {# <span class="topper">Pricing</span> #}
            <h2 class="title">Full Service Website Packages</h2>
            <p class="text">
        A website, and the resources of an entire IT department, included into
        one easy-to-digest fee. Prices include all taxes. Monthly contract comes
        with a 12-month minimum term, but you can cancel at any time after.
      </p>
        </div>
        <table class="table">
            <thead>
                <tr class="color">
                    <th class="th">Monthly</th>
                    {% for plan in pricing.mPlans %}
                        <th class="th">{{ plan.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for service in pricing.mServices %}
                    <tr class="tr">
                        <td class="td">{{ service.name }}</td>
                        {% for check in service.plans %}
                            <td class="td">
                                {% if check == 'check' %}
                                    <img
              class="icon"
              src="/assets/svgs/pricing-check.svg"
              alt="icon"
              width="16"
              height="16"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
/>
                                {% else %}
                                    {{ check }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr class="color">
                    <th class="th">Lumpsum</th>
                    {% for plan in pricing.lPlans %}
                        <th class="th">{{ plan.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for service in pricing.lServices %}
                    <tr class="tr">
                        <td class="td">{{ service.name }}</td>
                        {% for check in service.plans %}
                            <td class="td">
                                {% if check == 'check' %}
                                    <img
              class="icon"
              src="/assets/svgs/pricing-check.svg"
              alt="icon"
              width="16"
              height="16"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
/>
                                {% else %}
                                    {{ check }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>