/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        padding-bottom: calc(100 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        // overflow: hidden;
        position: relative;
        z-index: 1;

        .container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(0.5rem, 1vw, 0.75rem);
        }

        .int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.active {
                color: var(--primary);
            }
        }

        .background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.4;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 40%;
                background: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(rgba(0, 0, 0, 1)),
                    to(rgba(0, 0, 0, 0))
                );
                background: -o-linear-gradient(
                    top,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner {
        .background {
            &:before {
                width: 50%;
                height: 100%;
                background: -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    from(rgba(0, 0, 0, 1)),
                    to(rgba(0, 0, 0, 0))
                );
                background: -o-linear-gradient(
                    left,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
                background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 100%
                );
                opacity: 1;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #sbsr-1363 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .topper {
            color: #767676;
        }

        .title {
            /* 23 characters wide including spaces */
            max-width: 26ch;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(24 / 16 * 1rem);
            }
        }

        .card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
            /* Make all rows have the same height */
            grid-auto-rows: 1fr;
            align-items: stretch;
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .item {
            list-style: none;
            /* 16px - 24px */
            padding: clamp(1rem, 3vw, 1.5rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--background);
            border-radius: calc(16 / 16 * 1rem);
            // border: 1px solid #e8e8e8;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .h3-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .item-text {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .ul {
            width: 100%;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 calc(48 / 16 * 1rem);
            border-radius: calc(30 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .image-group {
            width: 100%;
            max-width: calc(586 / 16 * 1rem);
            /* Changes to auto at desktop */
            height: calc(520 / 16 * 1rem);
            /* 32px - 48px */
            border-radius: clamp(2rem, 4vw, 3rem);
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            position: relative;
        }

        .background {
            width: 100%;
            height: 100%;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* makes it cover the parent like a backgorund image */
                object-fit: cover;
                display: block;
            }
        }

        .box {
            text-align: left;
            width: 100%;
            max-width: calc(304 / 16 * 1rem);
            padding: calc(32 / 16 * 1rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            /* 48px - 80px */
            border-radius: calc(32 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(24 / 16 * 1rem);
            position: absolute;
            /* 12px - 20px */
            right: clamp(0.75rem, 1.9vw, 1.5rem);
            /* 12px - 20px */
            bottom: clamp(0.75rem, 1.9vw, 1.5rem);
        }

        .box-icon {
            width: calc(60 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .desc {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .bubbles {
            font-size: min(2.5vw, 0.7em);
            width: calc(419 / 16 * 1em);
            height: calc(427 / 16 * 1em);
            position: absolute;
            /* Reset at larger desktop */
            right: calc(-260 / 16 * 1em);
            /* chnages to 30px at desktop */
            bottom: calc(-50 / 16 * 1em);
            z-index: -1;

            &:before {
                /* white border bubble */
                content: "";
                width: calc(330 / 16 * 1em);
                height: calc(330 / 16 * 1em);
                background: transparent;
                border: 1px solid #1a1a1a;
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(260 / 16 * 1em);
                height: calc(260 / 16 * 1em);
                background: var(--primary);
                opacity: 0.15;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1363 {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .image-group {
            height: auto;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .bubbles {
            font-size: min(2.5vw, 1em);
            bottom: calc(0 / 16 * 1rem);
            right: calc(-100 / 16 * 1rem);
        }
    }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #sbsr-1363 {
        .bubbles {
            margin-right: calc(750 / 16 * 1rem);
            left: auto;
            right: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1363 {
            .topper {
                color: var(--primary);
            }

            .title,
            .text,
            .li,
            .item-text {
                color: var(--bodyTextColorWhite);
            }

            .text,
            .li,
            .item-text {
                opacity: 0.8;
            }

            .item {
                background-color: var(--darkAccent);
                border-color: rgba(255, 255, 255, 0.2);
            }

            .h3 {
                color: var(--bodyTextColorWhite);
            }

            .icon {
                filter: grayscale(1) brightness(1000%);
            }

            .bubbles {
                &:before {
                    border-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1643 {
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to right if content needs to be right aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* left aligns content */
            align-items: flex-start;
        }

        .title {
            /* 28px - 64px */
            margin: 0 0 clamp(1.75rem, 7vw, 4rem) 0;
            max-width: 20ch;
        }

        .picture {
            width: 100%;
            height: 95vw;
            max-height: calc(400 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                border-radius: clamp(2rem, 4vw, 3rem);
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .quote {
            width: calc(74 / 16 * 1rem);
            height: auto;
            position: relative;
            top: calc(24 / 16 * 1rem);
            opacity: 0.5;
            z-index: -1;

        }

        .text {
            margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
        }

        .stats-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* 28px - 40px */
        }

        .card-group {
            width: 100%;
            /* 550px - 630px */
            max-width: clamp(34.375rem, 50vw, 39.375rem);
            padding: 0;
            margin: 0;
            display: grid;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(10 / 16 * 1rem);
        }

        .item-number {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .stats {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            padding: 0;
            /* 40px - 64px */
            margin: clamp(2.5rem, 6vw, 4rem) 0 0 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .stat {
            text-align: center;
            list-style: none;
            margin: 0;
            /* 28px - 40px */
            padding: 0 calc(8 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem);
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            grid-column: span 6;
            flex-direction: column;
            align-self: stretch;
            align-items: center;
        }

        .stat1 {
            border-right: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
        }

        .stat2 {
            border-bottom: 1px solid #E8E8E8;
        }

        .stat3 {
            border-right: 1px solid #E8E8E8;
            /* 28px - 40px */
            padding: clamp(1.75rem, 3vw, 2.5rem) calc(8 / 16 * 1rem) 0;
        }

        .stat4 {
            /* 28px - 40px */
            padding: clamp(1.75rem, 3vw, 2.5rem) calc(8 / 16 * 1rem) 0;
        }

        .number {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            color: var(--headerColor);
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
        }

        .desc {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: inherit;
            /* auto margin top will push text to bottom if there's only one line */
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1643 {
        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .content {
            justify-content: stretch;
        }

        .picture {
            height: 100%;
            max-height: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1643 {
            .title,
            .text,
            .item-text,
            .h3,
            .number,
            .desc {
                color: var(--bodyTextColorWhite);
            }
            .text,
            .item-text,
            .desc {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-359 {
        padding: var(--sectionPadding);

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-4px);
            }
            70% {
                transform: translateY(4px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes InAndOut {
            0% {
                transform: translateY(calc(40 / 16 * 1rem) scale(1));
                opacity: 1;
            }
            30% {
                transform: translateY(calc(20 / 16 * 1rem) scale(0.8));
                opacity: 1;
            }
            60% {
                transform: translateY(calc(10 / 16 * 1rem) scale(0.5));
                opacity: 1;
            }
            100% {
                transform: translateY(calc(0 / 16 * 1rem) scale(0.5));
                opacity: 0;
            }
        }

        @keyframes InAndOut2 {
            0% {
                transform: translateY(calc(50 / 16 * 1rem) scale(1));
                opacity: 1;
            }
            30% {
                transform: translateY(calc(40 / 16 * 1rem) scale(1));
                opacity: 1;
            }
            60% {
                transform: translateY(calc(20 / 16 * 1rem) scale(0.6));
                opacity: 1;
            }
            100% {
                transform: translateY(calc(0 / 16 * 1rem) scale(0.4));
                opacity: 0;
            }
        }

        .container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 56px */
            gap: clamp(3rem, 7vw, 3.5rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .title {
            max-width: 20ch;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .picture {
            width: 100%;
            height: calc(400 / 16 * 1rem);
            border-radius: calc(16 / 16 * 1rem);
            /* clips the corners of rhe image */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* change to "top" if you don't want the top of the image cut off */
                object-position: center;
            }
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .item {
            list-style: none;
            width: 100%;
            /* 24px - 32px */
            padding: clamp(1.5rem, 4.3vw, 2rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: calc(16 / 16 * 1rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .icon-wrapper {
            width: calc(65 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            &:before {
                /* Small Bubble */
                content: "";
                width: calc(18 / 16 * 1rem);
                height: calc(18 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: calc(3 / 16 * 1rem);
                animation-name: InAndOut;
                animation-duration: 1.6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            &:after {
                /* Small Bubble */
                content: "";
                width: calc(18 / 16 * 1rem);
                height: calc(18 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: calc(11 / 16 * 1rem);
                right: calc(5 / 16 * 1rem);
                animation-name: InAndOut2;
                animation-duration: 2s;
                animation-delay: 0.3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        .bubble {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:before {
                /* Big Bubble */
                content: "";
                width: calc(43 / 16 * 1rem);
                height: calc(43 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(4 / 16 * 1rem);
                left: calc(0 / 16 * 1rem);
                animation-name: floatAnimation2;
                animation-duration: 6s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            &:after {
                /* Big Bubble */
                content: "";
                width: calc(31 / 16 * 1rem);
                height: calc(31 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-4 / 16 * 1rem);
                right: calc(0 / 16 * 1rem);
                animation-name: floatAnimation2;
                animation-duration: 4s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
        }

        .icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            position: relative;
            z-index: 10;
        }

        .h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: center;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
        }

        .item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-359 {
        .item {
            flex-direction: row;
            justify-content: flex-start;
        }

        .icon-wrapper {
            margin-right: calc(24 / 16 * 1rem);
        }

        .h3,
        .item-text {
            text-align: left;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-359 {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .content {
            max-width: calc(522 / 16 * 1rem);
        }

        .picture {
            height: calc(280 / 16 * 1rem);
        }

        .card-group {
            width: 50%;
            max-width: calc(630 / 16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-359 {
            .topper {
                color: var(--primaryLight);
            }
            .title,
            .text {
                color: var(--bodyTextColorWhite);
            }

            .icon-wrapper,
            .bubble {
                &:before,
                &:after {
                    background-color: var(--accent);
                }
            }

            .icon {
                /* turns the icon white */
                filter: grayscale(1) brightness(1000%);
            }

            .h3 {
                color: var(--bodyTextColorWhite);
            }

            .item-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1335 {
        background-color: #1a1a1a;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .icon {
            /* 60px - 96px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: auto;
            /* 28px - 48px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
        }

        .review {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(28 / 16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .background {
            width: 100%;
            height: 100%;
            max-height: calc(300 / 16 * 1rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .floater {
            width: 100vw;
            max-width: calc(1110 / 16 * 1rem);
            height: auto;
            opacity: 0.04;
            /* prevents the mouse from interacting with it */
            pointer-events: none;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1335 {
        /* moved section padding back to the section */
        padding: var(--sectionPadding);

        .container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .content {
            text-align: left;
            width: 45%;
            padding: 0;
            align-items: flex-start;
        }

        .floater {
            bottom: calc(-60 / 16 * 1rem);
        }

        .background {
            height: auto;
            max-height: 100%;
            width: 50vw;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
            margin: 0 0 0 calc(10 / 16 * 1rem);
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #reviews-1335 {
        min-height: calc(720 / 16 * 1rem);
        display: flex;
        align-items: center;
        justify-content: center;

        .background {
            width: 60vw;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #reviews-1335 {
        .floater {
            margin-left: calc(-180 / 16 * 1rem);
            right: auto;
            left: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1335 {
            background-color: rgba(0, 0, 0, 0.6);

            .review {
                color: var(--bodyTextColorWhite);
            }

            .desc {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1376 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        /* clips the waves and lines from cause overflow issues */
        overflow: hidden;

        .container {
            width: 100%;
            max-width: calc(1440/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .topper {
            color: #767676;
        }

        .title {
            max-width: 25ch;
            margin: 0;
        }

        .group1,
        .group2 {
            /* the contents of this div are no longer its children. This div acts as if it doesn't exist and their content is now children of the next level parent, in this case, the card-group. That way they can all be arranged together as children under 1 parent div instead of children in two different parent divs */
            display: contents;
        }

        .card-group {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        /* setting the row groups to display: contents causes the child items to "appear" as direct children of the parent .card-group */
        /* therefore, we can set the order of the .items between rows, changing it between mobile and desktop */
        .group1 {
            display: contents;

            .item:nth-of-type(1) {
                order: 1;
            }

            .item:nth-of-type(2) {
                order: 3;
            }

            .item:nth-of-type(3) {
                order: 5;
            }
        }

        .group2 {
            display: contents;

            .item:nth-of-type(1) {
                order: 2;
            }

            .item:nth-of-type(2) {
                order: 4;
            }
        }

        .item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(240/16 * 1rem);
            height: calc(240/16 * 1rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: calc(24/16 * 1rem);
            background-color: #f4f4f4;
            /* clips the :before element from being clickable when it's outside the item and triggering the hover animation */
            overflow: hidden;
            border: 1px solid #e8e8e8;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s, border-color 0.3s;

            &:before {
                content: "";
                width: calc(148/16 * 1rem);
                height: calc(148/16 * 1rem);
                background: #fff;
                opacity: 0;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: calc(-116/16 * 1rem);
                transform: translateY(6.25rem);
                transition: left 0.3s, transform 0.3s, opacity 0.3s;
            }

            &:hover {
                background-color: var(--primary);
                border-color: var(--primary);

                &:before {
                    opacity: 0.2;
                    left: calc(-16/16 * 1rem);
                    transform: translateY(0);
                }

                .icon {
                    filter: grayscale(1) brightness(1000%);
                }

                .h3,
                .item-text {
                    color: var(--bodyTextColorWhite);
                }

                .text {
                    opacity: 0.8;
                }
            }
        }

        .picture {
            width: calc(100/16 * 1rem);
            height: auto;
            margin: 0 0 calc(8/16 * 1rem) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .icon {
            width: calc(32/16 * 1rem);
            height: auto;
        }

        .h3 {
            font-size: calc(20/16 * 1rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(12/16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
            transition: color 0.3s;
        }

        .item-text {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            max-width: calc(450/16 * 1rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s, opacity 0.3s;
        }

        .waves {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1376 {
        .card-group {
            justify-content: center;
            align-items: center;
            gap: calc(40/16 * 1rem);
        }

        .group1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: calc(48/16 * 1rem);
        }

        .group2 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: calc(48/16 * 1rem);
        }

        .item {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .waves {
            width: calc(71/16 * 1rem);
            height: auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #steps-1376 {
        .card-group {
            flex-direction: column;
        }

        .group1 {
            width: 100%;
            /* -8px to -30px, we put the clamp in a calc function to turn it into a negative number and pull down to cause the overlapping effect */
            margin-bottom: calc(clamp(.5rem, 2vw, 1.875rem)*-1);
            flex-direction: row;
        }

        .group2 {
            width: 100%;
            /* -8px to -30px */
            margin-top: calc(clamp(.5rem, 2vw, 1.875rem)*-1);
            flex-direction: row;
        }

        .waves {
            width: 110vw;
            max-width: calc(1920/16 * 1rem);
            height: auto;

            &:before {
                /* left continuation line */
                content: "";
                width: 50vw;
                height: 4px;
                background: #e8e8e8;
                opacity: 1;
                display: block;
                position: absolute;
                top: calc(84/16 * 1rem);
                right: 100%;
            }

            &:after {
                /* Right continuation line */
                content: "";
                width: 50vw;
                height: 4px;
                background: #e8e8e8;
                opacity: 1;
                display: block;
                position: absolute;
                top: calc(84/16 * 1rem);
                left: 100%;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-1376 {
            background-color: rgba(0, 0, 0, 0.2);
            .item {
                background-color: var(--medium);
                border-color: rgba(255, 255, 255, 0.2);

                &:hover {
                    background-color: var(--primary);
                    border-color: var(--primary);
                }
            }

            .topper {
                color: var(--primary);
            }

            .title,
            .text,
            .h3,
            .item-text,
            .link {
                color: var(--bodyTextColorWhite);
            }

            .text,
            .item-text {
                opacity: 0.8;
            }

            .waves {
                opacity: 0.1;
            }
        }
    }
}
