/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1628 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        
        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: calc(640 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:after {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                margin-top: calc(24 / 16 * 1rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: calc(48 / 16 * 1rem);
            height: auto;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .5;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: calc(240 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-fake-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            margin-top: auto;
            color: var(--primary);
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);

            &:hover {
                .cs-icon {
                    transform: translateX(.5rem);
                }
            }
        }

        .cs-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform .3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1628 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: calc(640 / 16 * 1rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            padding: calc(12 / 16 * 1rem) 0 calc(12 / 16 * 1rem) calc(24 / 16 * 1rem);

            &:after {
                width: 1px;
                height: 100%;
                margin: 0 calc(24 / 16 * 1rem) 0 0;
                order: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-picture {
            /* 240px - 420px */
            height: clamp(15rem, 33vw, 26.25rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1628 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1628 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title, .cs-text, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-item-text {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-579 {
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-579 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
            /* 60px - 128px */
            gap: clamp(3.75rem, 10vw, 8rem);
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            max-width: calc(494 / 16 * 1rem);
            /* 518px - 700px */
            height: clamp(32.375rem, 63vw, 43.75rem);
            /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
            margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
            position: relative;
            /* sends it to the right in the 2nd position */
            order: 2;

            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                height: 60%;
                background: var(--secondary);
                opacity: 1;
                display: block;
                position: absolute;
                /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
                right: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-579 {
            .cs-topper {
                color: var(--bodyTextColorWhite);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-964 {
        padding: var(--sectionPadding);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light1.svg");
        background-size: auto;
        background-position: center;
        background-repeat: repeat;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(800 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title,
        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(30 / 16 * 1rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* margin top value to match the negative margin value of the .cs-icon-wrapper */
            margin: calc(44 / 16 * 1rem) 0 0 0;
            /* 24px - 64px bottom */
            /* 24px - 40px left & right */
            padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
            background-color: #f7f3ee;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            z-index: 1;

            &:hover {
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.9;
                }
                .cs-background {
                    opacity: 1;
                }
            }
        }

        .cs-icon-wrapper {
            width: calc(88 / 16 * 1rem);
            height: calc(88 / 16 * 1rem);
            margin: calc(-44 / 16 * 1rem) auto calc(32 / 16 * 1rem) 0;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
        }

        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(300 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-link {
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: var(--primary);
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(0 / 16 * 1rem);
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.84;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-waves {
            width: 100%;
            height: calc(222 / 16 * 1rem);
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-964 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            column-gap: calc(30 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-964 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-964 {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light2.svg");
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.9;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-708 {
        position: relative;
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(256 / 16 * 1rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            text-align: left;
            max-width: calc(541 / 16 * 1rem);
            /* move section padding to the cs-content so we can make the cs-picture full width */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
        }

        .cs-title {
            /* 20 characters wide including spaces */
            max-width: 20ch;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            transition: border-bottom 0.3s;

            &.active {
                border-color: var(--primaryLight);
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2.3vw, 1.5rem) 0;
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(4 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(1 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 90%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            max-width: calc(541 / 16 * 1rem);
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-graphic {
            width: calc(361 / 16 * 1rem);
            height: auto;
            opacity: 0.5;
            display: none;
            position: absolute;
            right: calc(-180 / 16 * 1rem);
            bottom: calc(30 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-708 {
        /* moved seciton padding back to the section */
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-picture {
            width: 50%;
            max-width: calc(650 / 16 * 1rem);
            /* 500px - 750px */
            height: clamp(31.25rem, 68vw, 46.875rem);
        }

        .cs-content {
            width: 55%;
            padding: 0;
        }
    }
}

/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-708 {
        .cs-graphic {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-708 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-faq-item {
                border-color: rgba(255, 255, 255, 0.2);
                &.active {
                    border-color: var(--bodyTextColorWhite);
                    .cs-button {
                        color: var(--bodyTextColorWhite);
                        &:before,
                        &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }

            .cs-button {
                color: var(--bodyTextColorWhite);
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }
        }
    }
}

                                