/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-main {
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .toggle-group {
            width: auto;
            margin: calc(32 / 16 * 1rem) auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .plan {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--headerColor);
            &:hover {
                cursor: pointer;
            }
        }

        .toggle {
            width: calc(62 / 16 * 1rem);
            height: calc(36 / 16 * 1rem);
            border-radius: calc(40 / 16 * 1rem);
            background-color: var(--primaryLight);
            margin: 0 calc(12 / 16 * 1rem);
            position: relative;
            /* prevent flexbox from squishing it */
            flex: none;

            &:hover {
                cursor: pointer;
            }

            &.active {
                &:before {
                    opacity: 1;
                }
                .toggle-switch {
                    left: calc(32 / 16 * 1rem);
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    #ffba43 -24.69%,
                    #e12213 126.23%
                );
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border-radius: calc(40 / 16 * 1rem);
                transition: opacity 0.3s;
            }
        }

        .toggle-switch {
            width: calc(24 / 16 * 1rem);
            height: calc(24 / 16 * 1rem);
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(6 / 16 * 1rem);
            transition: left 0.3s;
            background: #fff;
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            row-gap: calc(40 / 16 * 1rem);
            perspective: 700px;
            transform-style: preserve-3d;

            &.active {
                &.option1 {
                    /* when the active class is on the card-group, run these styles */
                    transform: scale(0);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    opacity: 0;
                    visibility: hidden;

                    .item {
                        /* when the active class is on the card-group, run these styles */
                        opacity: 0;
                        transform: translateY(1.25rem) rotateY(90deg);
                        transition:
                            opacity 0.3s,
                            transform 0.6s;
                    }
                }

                &.option2 {
                    /* when the active class is on the card-group, run these styles */
                    visibility: visible;
                    pointer-events: all;
                    opacity: 1;
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: scale(1);

                    .item {
                        /* when the active class is on the card-group, run these styles */
                        opacity: 1;
                        transform: translateY(0rem) rotateY(0deg);
                    }
                }
            }
        }

        .option1 {
            /* default styles when there is no active class on the card-group */
            opacity: 1;
            visibility: visible;
            left: left;
            bottom: auto;
            transform: scale(1);
            transform-origin: left top;
            transition:
                transform 0.6s,
                opacity 0.3s,
                visibility 0.3s;

            .item {
                /* default styles when there is no active class on the card-group */
                opacity: 1;
                transform: translateY(0rem) rotateY(0deg);
                transition:
                    opacity 0.3s,
                    transform 0.6s;
                &:nth-of-type(2) {
                    transition-delay: 0.2s;
                }
                &:nth-of-type(3) {
                    transition-delay: 0.4s;
                }
            }
        }

        .option2 {
            /* default styles when there is no active class on the card-group */
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
            position: absolute;
            left: 0;
            /* reset on tablet */
            top: calc(1000 / 16 * 1rem);
            transform: scale(0);
            transform-origin: left top;
            transition:
                transform 0.6s,
                opacity 0.3s,
                visibility 0.3s,
                bottom 0.6s;

            .item {
                /* default styles when there is no active class on the card-group */
                opacity: 0;
                transform: translateY(1.25rem) rotateY(90deg);
                transition:
                    opacity 0.3s,
                    transform 0.6s;
                &:nth-of-type(2) {
                    transition-delay: 0.2s;
                }
                &:nth-of-type(3) {
                    transition-delay: 0.4s;
                }
            }
        }

        .item {
            list-style: none;
            width: 100%;
            /* matches the -88px the price-box's margin top to offset it */
            margin: calc(88 / 16 * 1rem) 0 0 0;
            /* 80px - 100px top *
            /* 16px - 56px left & right */
            /* 16px - 48px bottom */
            padding: clamp(5rem, 9vw, 6.25rem) clamp(1rem, 2.3vw, 3.5rem)
                clamp(1rem, 5vw, 3rem);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
            background-color: #fff;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: calc(8 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .price-box {
            width: 100%;
            /* 32px - 48px margin-bottom */
            margin: calc(-168 / 16 * 1rem) 0 clamp(2rem, 5vw, 3rem) 0;
            /* 24px - 32px top & bottom */
            /* 24px - 48px left and right */
            padding: clamp(1.5rem, 4vw, 2rem) clamp(1.5rem, 3vw, 3rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #12192d;
            border-radius: calc(8 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .package {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .price {
            /* 24px - 32px */
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .desc {
            font-size: calc(12 / 16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .item-text {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            font-weight: 400;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2vw, 1.5rem);
            color: var(--bodyTextColor);
        }

        .included {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: 700;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2vw, 1.5rem);
            color: var(--headerColor);
        }

        .ul {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: calc(16 / 16 * 1rem);
        }

        .li {
            font-size: calc(14 / 16 * 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .icon {
            width: calc(15 / 16 * 1rem);
            height: auto;
            /* push icon a little from the top so it looks centered */
            margin-top: calc(3 / 16 * 1rem);
            display: block;
        }

        .button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .price-button {
            /* 14px - 18px */
            font-size: clamp(0.875rem, 1.5vw, 1.125rem);
            /* 36px - 50px */
            line-height: clamp(2.25rem, 4.5vw, 3.125rem);
            font-weight: 400;
            text-transform: uppercase;
            width: 100%;
            height: clamp(2.25rem, 4.5vw, 3.125rem);
            /* pushes button to the bottom of the item */
            margin-top: auto;
            border-radius: calc(4 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-main {
        .card-group {
            flex-direction: row;
            justify-content: space-between;

            &.active {
                bottom: 0;
                top: auto;
            }
        }

        .option2 {
            top: auto;
            bottom: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-main {
            .topper {
                color: var(--bodyTextColorWhite);
            }
            .title,
            .text, .item-text {
                color: var(--bodyTextColorWhite);
            }

            .text, .item-text {
                opacity: 0.8;
            }

            .plan {
                color: var(--bodyTextColorWhite);
            }

            .item {
                background-color: var(--medium);
            }

            .price-box {
                background-color: var(--accent);
            }

            .item-p,
            .included,
            .li {
                color: var(--bodyTextColorWhite);
            }

            .icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}
                                