/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1519 {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        /* 100px - 150px */
        padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(.5rem, 1vw, .75rem);
        }
    
        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headercolor);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColor);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: '';
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #FFF3EC;
                opacity: .8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-mask {
            --maskBG: #ffffff;

            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1519 {
        .cs-background {
            &:before {
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 243, 236, 0.90) 23.05%, rgba(255, 243, 236, 0.00) 80.08%);
                opacity: 1;
            }
        }

        .cs-mask {
            --maskBG: var(--dark);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #banner-1519 {
            .cs-mask {
                --maskBG: var(--dark);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #table-1669 {
        padding: var(--sectionPadding);
    
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-table {
            width: 100%;
            border-collapse: collapse;
        }

        .cs-th {
            padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
            box-sizing: border-box;
        }

        .cs-td {
            padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
            box-sizing: border-box;
        }
      
        .cs-th, .cs-td {
            border: 1px solid #ddd;
            text-align: center;
        }
    
        .cs-color {
            .cs-th {
                &:first-child {
                    color: #fff;
                    background-color: var(--primary);
                }
            }
        }
    
        .cs-th:first-child, .cs-td:first-child {
            position: sticky;
            left: 0;
            z-index: 100; /* Make sure it sits above the other cells */
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            text-align: left;
        }
      
        .cs-th {
           background-color: #f2f2f2;
        }

        .cs-tr {
            color: var(--bodyTextColor);
        }

        .cs-icon {
            height: calc(16 / 16 * 1rem);
            width: auto;
        }
    }
}

/* Tablet - 600px */
@media screen and (max-width: 37.5rem) {
    #table-1669 {
        .cs-table {
            display: block;
            overflow-x: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #table-1669 {
            .cs-th {
                background-color: rgba(0, 0, 0, .6);
                color: var(--bodyTextColorWhite);
            }

            .cs-th:first-child, .cs-td:first-child {
                background-color: rgba(0, 0, 0, .6);
                border-color: rgba(255, 3255, 255, .2);
                color: var(--bodyTextColorWhite);
            }

            .cs-th, .cs-td {
                border-color: rgba(255, 3255, 255, .2);
            }

            .cs-color {
                .cs-th {
                    &:first-child {
                        color: #fff;
                        background-color: var(--secondary);
                    }
                }
            }

            .cs-tr {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}
                                