/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-559 {
        padding: var(--sectionPadding);
        /* 137px - 212px */
        padding-top: clamp(8.5625rem, 25vw, 13.25rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .int-topper {
            font-size: var(--topperFontSize);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.01em;
            margin: 0;
            padding: 0 0 0 calc(20 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;

            &:before {
                /* yellow line */
                content: "";
                width: 50vw;
                height: 2px;
                background: var(--bodyTextColorWhite);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
            }
        }

        .int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .link {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron - added as pseudo to make adding and removing them easier */
                content: "";
                width: calc(30 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                /* 12px - 24px */
                margin: 0 clamp(0.75rem, 2vw, 1.5rem);
                background-color: #fff;
            }

            &.active {
                color: var(--bodyTextColorWhite);
            }
        }

        .background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: var(--dark);
                opacity: 0.7;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}


/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing {
        padding: var(--sectionPadding);
        /* clips svg graphic from overflowing the section */
        overflow: hidden;
        position: relative;
        z-index: 1;
        transform-style: preserve-3d;
        background-color: var(--backgroundShade);

        .container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changes to 20px at large desktop */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            perspective: 1100px;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(643 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            border-radius: calc(30 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .toggle-group {
            width: 100%;
            max-width: calc(414 / 16 * 1rem);
            margin: 0;
            padding: calc(12 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f0f0f3;
            border-radius: calc(16 / 16 * 1rem);
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .plan {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--headerColor);
            &:hover {
                cursor: pointer;
            }
        }

        .toggle {
            width: calc(52 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            border-radius: calc(40 / 16 * 1rem);
            background-color: var(--primaryLight);
            margin: 0 calc(24 / 16 * 1rem);
            position: relative;
            /* prevent flexbox from squishing it */
            flex: none;

            &:hover {
                cursor: pointer;
            }

            &.active {
                &:before {
                    opacity: 1;
                }
                .toggle-switch {
                    left: calc(23 / 16 * 1rem);
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border-radius: calc(40 / 16 * 1rem);
                transition: opacity 0.3s;
            }
        }

        .toggle-switch {
            width: calc(26 / 16 * 1rem);
            height: calc(26 / 16 * 1rem);
            display: block;
            border-radius: 50%;
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.06))
                drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(3 / 16 * 1rem);
            transition: left 0.3s;
            background: #fff;
        }

        .ul-wrapper {
            position: relative;
            z-index: 10;
            perspective: 1200px;

            &.active .option1 {
                transform: rotateY(180deg);
            }

            &.active .option2 {
                transform: rotateY(360deg);
            }
        }

        .option2 {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateY(180deg);

            .item {
                border-radius: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0 0;

                &:nth-of-type(2) {
                    border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
                }
            }
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #fff;
            border-radius: calc(24 / 16 * 1rem);
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transition: transform 0.8s;
        }

        .item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
            background-color: #fff;
            border: 1px solid #dad9e3;
            border-radius: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: relative;
            z-index: 1;
            min-height: 400px;

            &:nth-of-type(2) {
                border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
            }

            &.popular {
                background-color: #14142b;
                border: none;

                .popular-tag {
                    display: inline-flex;
                }

                .package,
                .price,
                .duration,
                .item-text,
                .li {
                    color: var(--bodyTextColorWhite);
                }

                .item-text,
                .li {
                    opacity: 0.8;
                }

                .icon {
                    filter: none;
                    opacity: 1;
                }

                .button-transparent {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);
                    border: none;
                    // margin-bottom: 0;
                    transition: color 0.3s;

                    &:before {
                        background-color: #fff;
                    }

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .popular-tag {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            width: auto;
            margin: 0;
            padding: calc(4 / 16 * 1rem) calc(12 / 16 * 1rem);
            box-sizing: border-box;
            color: #ff9b7d;
            overflow: hidden;
            border-radius: calc(4 / 16 * 1rem);
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            /* same as item padding top */
            top: calc(24 / 16 * 1rem);
            right: calc(24 / 16 * 1rem);
            z-index: 1;

            &:before {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.16;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .picture {
            width: calc(76 / 16 * 1rem);
            height: calc(76 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .package {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .price {
            font-size: calc(39 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            margin: 0 0 calc(12 / 16 * 1rem);
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .duration {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
        }

        .item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(32 / 16 * 1rem);
            color: var(--bodyTextColor);
        }

        .ul {
            margin: 0 0 calc(32 / 16 * 1rem);
            padding: 0;
            display: flex;
            margin-top: auto;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: auto;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);

            &.disabled {
                opacity: 0.5;

                .icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            filter: grayscale(1);
            opacity: 0.5;
            display: block;
        }

        .button-solid {
            width: 100%;
        }

        .button-transparent {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            border-radius: calc(30 / 16 * 1rem);
            display: inline-block;
            position: relative;
            // align-self: flex-end;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(30 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }

        .waves-wrapper {
            width: 100vw;
            height: 65%;
            display: block;
            position: absolute;
            bottom: calc(-100 / 16 * 1rem);
            left: 50%;
            z-index: -10;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            /* remove the position so the svg waves wrapper can be positioned relative to the section container for tablet so it hugs the right edge of the screen. We set it back to relative at 1024px so it can then be positioned relative to the container again so it hugs the right edge of the container with the pricing cards */
            position: initial;
        }

        .card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }

        .option2 {
            .item {
                border-radius: calc(24 / 16 * 1rem) 0 0 calc(24 / 16 * 1rem);
                &:nth-of-type(2) {
                    border-radius: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
                }
            }
        }

        .item {
            width: 50%;
            border-radius: calc(24 / 16 * 1rem) 0 0 calc(24 / 16 * 1rem);

            &:nth-of-type(2) {
                border-radius: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
            }
        }

        .waves-wrapper {
            /* changes to 740px at large desktop */
            width: 55vw;
            height: 100%;
            left: auto;
            right: 0;
            bottom: auto;
            top: 0;
            transform: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            position: relative;
            z-index: 1;
        }

        .waves-wrapper {
            height: 140%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing {
        .container {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(20 / 16 * 1rem);
        }

        .ul-wrapper {
            width: 62%;
            max-width: calc(740 / 16 * 1rem);
            flex: none;
        }

        .waves-wrapper {
            max-width: calc(740 / 16 * 1rem);
            width: 100%;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(643 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing {
            background-color: var(--dark);
            .title,
            .text,
            .plan {
                color: var(--bodyTextColorWhite);
            }

            .text,
            .item-text,
            .li {
                opacity: 0.8;
            }

            // .item {
            //     background-color: var(--dark);
            //     border-color: rgba(255, 255, 255, 0.2);

            //     &.popular {
            //         background-color: var(--primary);

            //         .picture {
            //             &:before {
            //                 background-color: #fff;
            //             }

            //             .picture-icon {
            //                 filter: grayscale(1) brightness(1000%);
            //             }
            //         }

            //         .popular-tag {
            //             color: var(--bodyTextColorWhite);
            //             &:before {
            //                 background-color: #14142b;
            //                 opacity: 1;
            //             }
            //         }

            //         .package,
            //         .li,
            //         .item-text,
            //         .price,
            //         .duration {
            //             color: var(--headerColor);
            //         }

            //         .icon {
            //             filter: grayscale(1) brightness(1000%);
            //             opacity: 1;
            //         }

            //         .button-transparent {
            //             color: var(--primary);
            //             background-color: #fff;
            //             &:before {
            //                 background-color: #1a1a1a;
            //             }
            //         }
            //     }
            // }

            .toggle-group {
                background-color: var(--medium);
            }

            .icon {
                filter: none;
                opacity: 1;
            }

            .button-solid {
                transition: color 0.3s;
                &:hover {
                    color: var(--primary);
                }

                &:before {
                    background-color: #fff;
                }
            }
        }
    }
}



                                

/*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-table {
        padding: var(--sectionPadding);

        .title {
            margin-bottom: 1rem;
        }
    
        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .text {
            max-width: calc(620 / 16 * 1rem);
        }
    
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        // .table thead {
        //     position: fixed;
        //     top: 0;
        //     z-index: 2;
        //     display: table;
        //     table-layout: fixed;
        // }

        // .table thead tr.hidden-header {
        //     visibility: hidden;
        // }

        .th {
            padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
            box-sizing: border-box;
        }

        .td {
            padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
            box-sizing: border-box;
        }
      
        .th, .td {
            border: 1px solid var(--border);
            text-align: center;
        }
    
        .color {
            .th {
                &:first-child {
                    color: var(--bodyTextColorWhite);
                    background-color: var(--primary);
                }
            }
        }
    
        .th:first-child, .td:first-child {
            position: sticky;
            left: 0;
            z-index: 100; /* Make sure it sits above the other cells */
            background-color: var(--backgroundShade);
            border: 1px solid var(--border);
            text-align: left;
        }
      
        .th {
           background-color: var(--backgroundShade);
        }

        .tr {
            color: var(--bodyTextColor);
        }

        .icon {
            height: calc(16 / 16 * 1rem);
            width: auto;
        }
    }
}

/* Tablet - 600px */
@media screen and (max-width: 37.5rem) {
    #pricing-table {
        .table {
            display: block;
            overflow-x: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-table {
            .th {
                background-color: var(--accent);
                color: var(--bodyTextColorWhite);
            }

            .th:first-child, .td:first-child {
                background-color: var(--accent);
                border-color: rgba(255, 255, 255, .4);
                color: var(--bodyTextColorWhite);
            }

            .th, .td {
                border-color: rgba(255, 3255, 255, .2);
            }

            .color {
                .th {
                    &:first-child {
                        color: #fff;
                        background-color: var(--primary);
                    }
                }
            }

            .tr {
                color: var(--bodyTextColorWhite);
            }

            .icon {
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #addon-pricing {
        padding: var(--sectionPadding);
        background-color: var(--background);

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 2.5rem);
            perspective: 700px;
            transform-style: preserve-3d;
        }

        .item {
            list-style: none;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            border-radius: calc(32 / 16 * 1rem);
            margin: 0;
            // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2rem);
            background-color: var(--background);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &.popular {
                background-color: var(--primary);

                .package {
                    color: #f6e5db;
                }

                .price,
                .desc,
                .item-p,
                .li {
                    color: var(--bodyTextColorWhite);
                }

                .icon {
                    /* if icon is not black, this turns it white */
                    filter: grayscale(1) brightness(1000%);
                }

                .button-solid {
                    background-color: #f6e5db;
                    color: #1a1a1a;
                    transition: color 0.3s;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        .package {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.4vw, 1rem);
            line-height: 1.2em;
            text-align: left;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: #767676;
            display: block;
        }

        .price {
            /* 31px - 49px */
            font-size: var(--headerFontSize);
            margin-bottom: calc(48 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            font-weight: 900;
            color: var(--headerColor);
        }

        .desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-align: left;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
            opacity: 0.8;
        }

        .item-p {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            font-weight: 400;
            margin: 0;
            margin-bottom: calc(48 / 16 * 1rem);
            color: var(--bodyTextColor);
        }

        .ul {
            margin: calc(24 / 16 * 1rem) 0;
            padding: calc(24 / 16 * 1rem) 0 0 0;
            border-top: 1px solid #eff1f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.2em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);

            &.disabled {
                opacity: 0.5;
            }
        }

        .icon {
            width: calc(18 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(30 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(30 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .price-button {
            /* pushes up against the ul so if there's loess li's in the list, the button always pushes itself to the bottom */
            margin-top: auto;
            width: 100%;
            box-shadow: none;
            // border-radius: 0;
            // &:before {
            //     border-radius: 0;
            // }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #addon-pricing {
        // .card-group {
        //     flex-direction: row;
        //     justify-content: center;
        //     align-items: stretch;
        // }

        .card-group {
            display: flex;           /* Ensure it's a flex container */
            flex-direction: row;     /* Arrange items in a row */
            flex-wrap: wrap;         /* Allow wrapping to new lines */
            justify-content: center; /* Center items horizontally */
            align-items: stretch;   /* Stretch items to the container's height */
        }

        .item {
                /* Adjust the width of each card if needed */
            flex: 1 1 29%;  /* Flex-grow, flex-shrink, and flex-basis values */
            margin: 10px;   /* Optional: Add margin for spacing */
        }

        .option2 {
            top: auto;
            bottom: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #addon-pricing {
            background-color: rgba(0, 0, 0, 0.2);
            .topper {
                color: var(--primaryLight);
            }

            .title,
            .text,
            .item-p,
            .package,
            .li,
            .price,
            .desc,
            .plan {
                color: var(--bodyTextColorWhite);
            }

            .text {
                opacity: 0.8;
            }

            .item {
                background-color: var(--darkAccent);
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 2px, rgba(255, 255, 255, 0.3) 0px 4px 6px -1px, rgba(0, 0, 0, 0.6) 0px 1px 0px inset;

                &.popular {
                    background-color: var(--primary);
                }
            }

            .icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }

            .price-button {
                background-color: var(--bodyTextColorWhite);
                color: #1a1a1a;
                transition: color 0.3s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
