/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #527acc;
        --primaryLight: #a9bde6;
        --secondary: #001f3f;
        --secondaryLight: #001f3f;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        --background: #fff;
        --backgroundShade: #f7f7f7;
        --border: #ddd;
        /* 13px - 16px */
        --topperFontSize: clamp(0.5rem, 1.6vw, 0.8rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    /* you can copy and paste this into your global stylesheet to be used everywhere there's a topper in your site */
    .topper {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin: 0 0 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        position: relative;
    }
    .topper:before {
        /* decorative line */
        content: "";
        /* 16px - 32px */
        width: clamp(1rem, 3vw, 2rem);
        height: var(--topperFontSize);
        background: linear-gradient(270deg, rgba(63, 90, 243, 0.4) 0%, transparent 100%);;
        opacity: 1;
        position: relative;
        display: block;
    }
    .topper:after {
        /* decorative line */
        content: "";
        /* 16px - 32px */
        width: clamp(1rem, 3vw, 2rem);
        height: var(--topperFontSize);
        background: linear-gradient(90deg, rgba(63, 90, 243, 0.4) 0%, transparent 100%);;
        opacity: 1;
        position: relative;
        display: block;
    }
    /* Dark Mode */
    body.dark-mode .topper {
        color: var(--bodyTextColorWhite);
    }

                                    

    .title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
        text-align: inherit;
    }

    .text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: 0 calc(48 / 16 * 1rem);
        border-radius: calc(30 / 16 * 1rem);
        text-decoration: none;
        text-transform: uppercase;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(50 / 16 * 1em);
        font-weight: bold;

        // Transition Properties
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts
    /* cabin-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/cabin-v27-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url('/assets/fonts/cabin-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* cabin-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 700;
        src: url('/assets/fonts/cabin-v27-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url('/assets/fonts/cabin-v27-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

                                
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #int-hero {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
        padding-top: calc(50 / 16 * 1rem);

        picture {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            position: relative;
            margin: 0 auto;
            margin-top: calc(70 / 16 * 1rem);
            margin-bottom: calc(30 / 16 * 1rem);
            max-width: calc(500 / 16 * 1rem);
            width: 96%;
            font-size: calc(64 / 30 * 1rem);
            color: #fff;
            text-align: center;
        }

        p {
            display: block;
            margin: auto;
            margin-bottom: calc(30 / 16 * 1rem);
            max-width: calc(400 / 16 * 1rem);
            width: 96%;
            color: #fff;
            text-align: center;
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 0.7;
            display: block;
            background: #000;
            height: 100%;
            width: 100%;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #int-hero {
        font-size: 100%;

        h1 {
            font-size: calc(64 / 16 * 1rem);
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
    #int-hero {
        background-attachment: fixed;
        min-height: calc(300 / 16 * 1rem);
        height: auto;
        padding-top: calc(180 / 16 * 1rem);
        font-size: inherit;
        padding-block-end: calc(100 / 16 * 1rem);
    }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #cta {
        position: relative;
        padding: calc(50 / 16 * 1rem) 0;

        .container {
            text-align: center;
        }

        picture {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .title {
            position: relative;
            margin-bottom: calc(36 / 16 * 1rem);
            font-size: min(9vw, 3rem);
            line-height: calc(58 / 48 * 1em);
            font-weight: 900;
            color: #fff;
            text-align: center;
        }

        p {
            opacity: 1;
            margin: auto;
            margin-bottom: calc(36 / 16 * 1rem);
            max-width: calc(598 / 16 * 1rem);
            width: 96%;
            color: #fff;
            text-align: center;
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 0.7;
            display: block;
            background: #000;
            height: 100%;
            width: 100%;
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
    #cta {
        padding: calc(168 / 16 * 1rem) 0;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    #cta {
        position: relative;
        margin-top: calc(100 / 16 * 1rem);
        .container {
            margin: auto;
            width: 90.0625%;
        }

        picture {
            left: 50%;
            transform: translateX(-50%);
            width: 90.0625%;

            &:before {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                opacity: 0.7;
                display: block;
                background: #000;
                height: 100%;
                width: 100%;
            }
        }
        &:before {
            display: none;
        }
        &:after {
            z-index: -3;
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            opacity: 1;
            transform: translateX(-50%);
            display: block;
            background: url("/assets/svgs/cta-squares.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: calc(1108 / 16 * 1rem);
            width: calc(2000 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta {
            &:after {
                display: none;
            }
        }
    }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        background-color: #f7f7f7;
        position: relative;
        z-index: 10;

        .container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            column-gap: auto;
            /* 48px - 64px */
            gap: clamp(2rem, 3vw, 3rem);
            position: relative;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .title {
            max-width: 23ch;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .ul {
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(24 / 16 * 1rem);
            position: relative;
        }

        .li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(20 / 16 * 1rem);

            &:hover {
                .icon-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .header {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            color: #767676;
            display: block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .icon-wrapper {
            width: calc(60 / 16 * 1rem);
            height: calc(60 / 16 * 1rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
            opacity: 0.6;
        }

        .form {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            /* -30px to -100px */
            margin-bottom: calc(clamp(1.875rem, 7vw, 6.25rem) * -1);
            /* 24px - 48px top and bottom */
            /* 16px - 48px left and right */
            padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            border-radius: calc(16 / 16 * 1rem);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .h3 {
            /* 20px - 39px */
            font-size: clamp(1.25rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            color: var(--headerColor);
            background-color: #f7f7f7;
            border-radius: calc(8 / 16 * 1rem);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(12 / 16 * 1rem);
            font-family: inherit;
        }

        .button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 calc(48 / 16 * 1rem);
            border-radius: calc(30 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .submit {
            width: 100%;
            min-width: calc(200 / 16 * 1rem);
            border: none;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .content {
            width: 47%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .submit {
            width: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact {
        .form {
            width: 46%;
            max-width: calc(578 / 16 * 1rem);
        }

        .submit {
            width: auto;
        }
    }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #contact {
        .graphic {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact {
            background-color: rgba(0, 0, 0, 0.2);
            .title,
            .text,
            .header,
            .link,
            .label,
            .h3 {
                color: var(--bodyTextColorWhite);
            }

            .contact-text,
            .link {
                opacity: 0.8;
            }

            .icon-wrapper {
                border-color: #fff;
            }

            .icon {
                /* makes it white */
                // filter: grayscale(1) brightness(1000%);
                filter: invert(1);
            }

            .form {
                background-color: var(--medium);
            }

            .input {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
                &::placeholder {
                    color: #fff;
                    opacity: 0.8;
                }
            }

            .graphic {
                opacity: 0.4;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #footer {
        padding: var(--sectionPadding);
        /* 80px - 100px */
        padding-top: clamp(5rem, 7vw, 6.25rem);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .top {
            width: 100%;
            margin-bottom: calc(40 / 16 * 1rem);
            /* 24px - 64px */
            padding-bottom: clamp(1.5rem, 5vw, 4rem);
            border-bottom: 1px solid #484848;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 24px - 40px */
            gap: clamp(1.25rem, 4vw, 2.5rem);
        }

        .ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: calc(8 / 16 * 1rem);
            /* 24px - 36px */
            column-gap: clamp(1.5rem, 4vw, 2.25rem);
        }

        .li {
            list-style: none;
        }

        .link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #bababa;
            display: block;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .logo {
            width: 100%;
            max-width: calc(209 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .logo-img {
            width: 100%;
            height: auto;
            display: block;
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .social-li {
            list-style: none;
        }

        .social-link {
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            background-color: #484848;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
            &:hover {
                background-color: var(--primary);

                .social-icon {
                    filter: grayscale(1) brightness(1000%);
                    opacity: 1;
                }
            }
        }

        .social-icon {
            width: calc(12 / 16 * 1rem);
            height: auto;
            display: block;
            opacity: 0.6;
            transition: opacity 0.3s;
        }

        .copyright {
            font-size: calc(16 / 16 * 1rem);
            color: #bababa;
            line-height: 1.5em;
            margin: 0;
            display: block;
        }

        .copyright-link,
        .separater {
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            color: #bababa;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .separater {
            margin: 0 calc(16 / 16 * 1rem);
            display: inline-block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #footer {
        .top {
            align-items: flex-start;
        }

        .bottom {
            flex-direction: row;
            justify-content: center;
        }

        .flex {
            margin: 0 auto;
        }

        .social {
            /* sends it to the right in the 3rd position */
            order: 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #footer {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
                                
